@mixin container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  min-width: $width-mobile;
  max-width: $width-desktop-l;
}

@mixin btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
}

@mixin link-reset {
  color: inherit;
  text-decoration: inherit;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin input-reset {
  display: block;
  box-sizing: border-box;
  width: 100%;

  border: none;
  background-color: transparent;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin scroll {
  &::after {
    content: "scroll";
    position: absolute;
    right: 0;
    bottom: 120px;

    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;

    transform: rotate(90deg);

    @media (max-width: $width-desktop-m) {
      display: none;
    }
  }
}

@mixin object-fit($fit: fill, $position: null) {
  object-fit: $fit;

  @if $position {
    object-position: $position;
    font-family: "object-fit: #{$fit}; object-position: #{$position}";
  } @else {
    font-family: "object-fit: #{$fit}";
  }
}
