@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Bold"),
    local("Helvetica-Bold"),
    url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Regular"),
    local("Helvetica-Regular"),
    url("../fonts/Helvetica-Regular.woff2") format("woff2"),
    url("../fonts/Helvetica-Refular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Light"),
    local("Helvetica-Light"),
    url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

body {
  // overflow: hidden;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #000000;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  position: relative;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.3;
  text-transform: uppercase;

  @media (max-width: $width-desktop-m) {
    font-size: 30px;
  }

  @media (max-width: $width-desktop-s) {
    font-size: 26px;
  }

  @media (max-width: $width-tablet-l) {
    margin-bottom: 25px;
    font-size: 24px;
  }

  @media (max-width: 600px) {
    margin-bottom: 25px;
    font-size: 20px;
  }

  @media (max-width: $width-tablet-s) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  @media (max-height: 768px) {
    margin-bottom: 3vh;
    font-size: 3vh;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 50px;
    height: 5px;

    background-color: #ffffff;
    transform: translate(calc(-100% - 40px), -50%);

    @media (max-width: 600px) {
      content: none;
    }
  }
}

.screen {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (max-width: $width-desktop-s) {
    height: auto;
  }

  &:nth-child(3) {
    z-index: 1;
    color: #ffffff;
    background-color: $color-second;
    box-shadow: 0 -5px 75px rgba(0, 0, 0, 0.7);
  }
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 120px;
  color: $color-prime;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}

.fullpage__wrapper {
  counter-reset: list;
  transition-timing-function: ease-in-out;

  @media (max-width: $width-desktop-m) {
    display: block;
  }
}
