$width-mobile: 320px;
$width-tablet-s: 480px;
$width-tablet-m: 768px;
$width-tablet-l: 991px;
$width-laptop: 1024px;
$width-desktop-s: 1199px;
$width-desktop-m: 1366px;
$width-desktop-l: 1400px;

$color-prime: #f98700;
$color-second: #00613a;
