section.contacts.swiper-slide
  .contacts__stripe.stripe.stripe
    .stripe__wrapper
      .stripe__scroll stop

  .contacts__wrapper
    h2.contacts__title Контакты
    .contacts__row.row
      .contacts__left.col-md-5.col-lg-4
        ul.contacts__list
          -
            var locations = [{
              title: 'ООО «Южный город»',
              first: '344111, г. Ростов-на-Дону, пр-кт 40-летия Победы, д. 332Б, оф. 37',
              second: 'тел./факс: 8 (863) 3333-907 (Многоканальный)',
              third: 'e-mail: klient@wasterostov.ru',
              coords: '47.2428, 39.8417'
            }, {
              title: 'ООО «Южный город — Аксай»',
              first: '346720, Ростовская обл, Аксайский р-н, г. Аксай, ул. Шевченко/Чапаева 112/177',
              second: 'тел.: 8 (86350) 5-29-01, 8 (86350) 5-99-55',
              third: 'Диспетчер: 8 (989) 634-99-09',
              coords: '47.2633, 39.8720'
            }, {
              title: 'ООО «Южный город — Новочеркасск»',
              first: '346720, Ростовская обл, Аксайский р-н, г. Аксай, ул. Шевченко/Чапаева 112/177',
              second: 'тел.: +79282126373',
              coords: '47.2633, 39.8720'
            }, {
              title: 'ООО «Южный город — Краснодар',
              first: '+79885507344',
              second: 'Иван Анатольевич Ашмарин'
            }, {
              title: 'ООО «Южный город — Крым',
              first: '299029, г. Севастополь, ул. Шабалина, 6',
              second: 'тел.: 8 (978) 996-82-32, 8 (692) 44-32-63',
              coords: '44.5775, 33.5083'
            }]

          each location in locations
            li.contacts__item.location(data-coords= location.coords)
              a.location__link(href="#")
                h3.location__title= location.title
                p.location__info
                  != location.first + '<br>'
                  != location.second + '<br>'
                  != location.third

      .contacts__map.map.col-md-7.col-lg-8
        .map__container#map

    .contacts__row.row
      .contacts__left.col-6.col-md-3.col-lg-4
        a.contacts__logo.logo
          svg.logo__icon(width="123", height="104")
            use(xlink:href="#logo")

      .contacts__menu.menu.col-6.col-md-9.col-lg-8.row
        .menu__company.col-md-4
          h3.menu__title О компании
          ul.menu__list
            -
              var list = [
                'О компании',
                'Миссия и стратегия',
                'Благотворительность',
                'Вакансии',
                'Новости',
                'Воспрос/Ответ'
              ]

            each item in list
              li.menu__item
                a.menu__link(href="#")= item

        .menu__services.col-md-4
          h3.menu__title Услуги
          ul.menu__list
            -
              var list = [
                'Вывоз отходов',
                'Клининг и дезинфекция контейнеров',
                'Вывоз мусора',
                'Благоустройство территорий',
                'Клининг территории',
                'Экологическое проектирование',
                'Скорая экологическая помощь',
                'Строительство полигонов ТБО'
              ]

            each item in list
              li.menu__item
                a.menu__link(href="#")= item

        .menu__goods.col-md-4
          h3.menu__title Товары
          ul.menu__list
            -
              var list = [
                'Контейнеры для мусора',
                'Оборудование детских площадок',
                'Уличные тренажеры'
              ]

            each item in list
              li.menu__item
                a.menu__link(href="#")= item
