header.page-header
  .page-header__wrapper
    .main-nav__brand.navbar-brand(href="#")
      -var indexLink = (page === 'index') ? null : 'index.html'

      a.main-nav__logo.logo(href= indexLink)
        svg.logo__icon(width="123", height="104")
          use(xlink:href="#logo")

    nav.main-nav.navbar.navbar-expand-lg.navbar-light
      button.main-nav__toggler.navbar-toggler(
          type="button",
          data-toggle="collapse",
          data-target="#navbarSupportedContent",
          aria-controls="navbarSupportedContent",
          aria-expanded="false",
          aria-label="Toggle navigation")
        span.navbar-toggler-icon

      .main-nav__collapse.collapse.navbar-collapse#navbarSupportedContent
        ul.main-nav__list.navbar-nav
          li.main-nav__item.nav-item.active
            a.main-nav__link.nav-link(href="#") Компания <span class="sr-only">(current)</span>
          li.main-nav__item.nav-item
            a.main-nav__link.nav-link(href="#") Услуги
          li.main-nav__item.nav-item
            a.main-nav__link.nav-link(href="#") Товары
          li.main-nav__item.nav-item
            a.main-nav__link.nav-link(href="#") Лицензии
          li.main-nav__item.nav-item
            a.main-nav__link.nav-link#contacts(href="#") Контакты

    .page-header__locale.locale
      ul.locale__list.nav
        li.locale__item.nav-item
          a.locale__link.nav-link.active(href="#") Ru
        li.locale__item.nav-item
          a.locale__link.nav-link(href="#") En

    .page-header__links
      a.page-header__link.page-header__link--phone(href="tel:88002500936") 8 (800) 2500-936
