extends templates/layout

block vars
  - var page = 'about'

block promo
  section.promo.promo--about
    .promo__slider
      .promo__gallery.gallery.gallery--about.swiper-container
        ul.gallery__list.swiper-wrapper
          - var slides = new Array(5)

          each slide in slides
            li.gallery__item.swiper-slide
              .gallery__image(style="background-image: url(img/bg-autumn.jpg)", aria-label="Картинка осеннего парка в солнечных лучах")

        .gallery__wrapper
          .gallery__pagination

      .promo__wrapper
        .promo__counter.counter.swiper-container
          ul.counter__list.swiper-wrapper

    .promo__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      h1.page-title О компании
      p.promo__slogan Миссия компании: здоровая экология - будущее наших детей
      .promo__row.row
        .promo__left.col-lg-6
          p С 2003 года Группа компаний «ЮЖНЫЙ ГОРОД» заботится о сохранении благоприятной окружающей среды, обеспечении экологической безопасности, благоустройстве территорий.

          p С 2003 года Группа компаний «ЮЖНЫЙ ГОРОД» заботится о сохранении благоприятной окружающей среды, обеспечении экологической безопасности, благоустройстве территорий.

        .promo__right.col-lg-6

    svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  section.offers.offers--about.swiper-slide
    .stripe.stripe--second
      .stripe__wrapper
        .stripe__arrow

    .offers__wrapper
      h2.offers__title Сегодня Компания «ЮЖНЫЙ ГОРОД» осуществляет свою деятельность по следующим направлениям:
      .row
        -
          var offers = [
            'Транспортировка отходов различного класса опасности и морфологического состава к объектам обезвреживания и конечного размещения отходов',
            'Благоустройство территории',
            'Вывоз крупногабаритного мусора, снега и льда, строительных отходов, грунта, песка и т.п.',
            'Покупка вторичного сырья',
            'Утилизация промышленных отходов, в т.ч. просроченной пищевой продукции',
            'Поставка и обслуживание оборудования для нефтесодержащих стоков',
            'Утилизация оргтехники',
            'Комплексное экологическое проектирование и сопровождение объектов, природоохранная документация (ПНООЛР, ПДВ, ОВОС, ППК, 2ТП, разработка Паспортов на отходы)',
            'Мобильная мойка контейнеров',
            'Экологическое сопровождение бизнес'
          ]

        .offers__desc.col-lg-4
          ul.offers__list
            each offer in offers
              li.offers__item= offer

        .offers__slider.col-lg-7.offset-lg-1
          .offers__gallery.gallery.swiper-container
            ul.gallery__list.swiper-wrapper
              - var slides = new Array(5)

              each slide in slides
                li.gallery__item.swiper-slide
                  p.gallery__text.dottable(style="max-height: 85px;") Компания располагает собственным парком специализированной мусороуборочной техники. На сегодняшний день мы эксплуатируем более 50-ти единиц автотранспорта.
                  img.gallery__image(src="img/carbage-collector-2.jpg", alt="Мусоровоз, поднимающий бак")

            .gallery__pagination

          .offers__counter.counter.swiper-container
            ul.counter__list.swiper-wrapper

    svg.offers__scroll.scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

  section.sponsors.swiper-slide
    .sponsors__stripe.stripe
      .stripe__wrapper
        .stripe__arrow

    .sponsors__wrapper
      h2.sponsors__title.dottable Партнеры Компании «ЮЖНЫЙ ГОРОД» - органы власти и социально активные негосударственные организации:
      .sponsors__row.row
        .col-md-4
          .sponsors__image
            img(src="img/city-duma-rnd.jpg", "Ростов: здание городской думы")

        .col-md-8.col-lg-7.offset-lg-1
          .sponsors__card.sponsors__card--filled
            .sponsors__desc
              ul
                li Комитет ГД РФ по природным ресурсам, природопользованию и экологии
                li ТПП РФ по предпринимательству в сфере жилищного и коммунального хозяйства
                li ОАО «Центр благоустройства и обращения с отходами»
                li ООО «ЮЖНЫЙ ГОРОД» поддерживает инициативы общественных и экологических организаций
                li ГРИНПИС России, «ЭКА»

            .sponsors__feature.dottable(style="max-height: 65px;")
              p С 2012г. Компания принимает участие в реализации долгосрочных целевых программ «Обращение с отходами производств и потребления, в том числе вторичными материальными ресурсами», ключевым мероприятием которых является проектирование и строительство межмуниципальных экологических отходоперерабатывающих комплексов.

      .row.flex-grow-1
        .col-lg-4
          .sponsors__card.sponsors__card--filled.sponsors__card--padded
            .sponsors__desc
              p Мы используем накопленный нами опыт для сохранения и созидания благоприятной окружающей среды для настоящего и будущих поколений!

              p Мы ценим нестандартный подход и новые тренды!

              p Мы первые узнаем о новых тенденциях в нашем сегменте и оперативно внедряем в спектр наших услуг!

              p Мы работаем так, что наши клиенты всегда получают новейшие и экономичные услуги в области обращения с отходами и экологии!

            .sponsors__feature.dottable(style="max-height: 95px;")
              p Главный принцип, которым мы руководствуемся в нашей деятельности –

              p
                b Мы работаем не с мусором, мы работаем с людьми, делая мир чище, а их счастливее!

        .col-lg-7.offset-lg-1.row.no-gutters
          .sponsors__card.col-sm-6.col-lg-5
            .sponsors__desc
              img(src="img/containers.jpg", alt="Контейнеры различного предназначения")

            .sponsors__feature
              p С 2011 года Компания «ЮЖНЫЙ ГОРОД» входит в состав межведомственной рабочей группы проекта «Как сделать город чистым» с целью внедрения метода селективного сбора мусора, развивает проект совместно с Ассоциацией Выпускников Президентской Программы.

          .sponsors__card.col-sm-6.col-lg-5.offset-lg-2
            .sponsors__desc
              img(src="img/boy.jpg", alt="Мальчик на элипсойде")

            .sponsors__feature
              p В рамках проекта «Будь здоров!» - победителя конкурса-форума «Стратегия 2020 – стратегия обновления» принимает участие в развитии инфраструктуры массового доступного спорта, устанавливает уличные спортивные тренажеры.

      .sponsors__stripe

  include includes/contacts
