extends templates/layout

block vars
  - var page = 'cleaning'

block promo
  section.promo.promo--about.promo--disposal.promo--cleaning
    .promo__slider
      .promo__gallery.gallery.gallery--about.gallery--triple.swiper-container
        ul.gallery__list.swiper-wrapper
          - var slides = new Array(5)

          each slide in slides
            li.gallery__item.swiper-slide
              .gallery__image(style="background-image: url(img/cleaning-slide-1.jpg)", aria-label="Картинка девушки, моющей пол")
              .gallery__image(style="background-image: url(img/cleaning-slide-2.jpg)", aria-label="Картинка человека с промышленным пылесосом")
              .gallery__image(style="background-image: url(img/cleaning-slide-3.jpg)", aria-label="Картинка человека в химзащитном костюме")

        .gallery__wrapper
          .gallery__pagination

      .promo__wrapper
        .promo__counter.counter.swiper-container
          ul.counter__list.swiper-wrapper

    .promo__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      h1.page-title.page-title--before Клининг и дезинфекция
      p.promo__slogan Мы осуществляем полный комплекс работ<br> по клинингу и дезинфекции:
      ul.promo__services
        li Контейнерные площадки часто служат источником неприятного запаха, при некачественной уборке могут стать местом возникновения грызунов и тяжелых инфекционных заболеваний.<br> Помочь избавиться от этого будут рады сотрудники компании<br> ООО «Южный Город».

        li Готовы предложить уникальную возможность воспользоваться специализированным современным атотранспортом по мойке и дезинфекции контейнеров непосредственно на объектах размещения контейнеров. Для соблюдения необходимого санитарного уровня в местах сбора и вывоза мусора необходимо проведение регулярной мойки и дезинфекции согласно СанПиН 42-128-4690-88 «Санитарные правила содержания территорий населенных мест» в летний период не реже 1 раза в 10 дней.

        li Основная цель дезинфекции и мойки — недопущение распространения инфекции патогенных микроорганизмов, бактерий, грибков, предотвращения и распространения инфекций — путем обеззараживания ее источника (в данном случае — мусорного контейнера). Только профессиональная компания, располагающая современной техникой, штатом подготовленных сотрудников и современными дезинфицирующими средствами, может предложить такие услуги.

    svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  section.desinfection.swiper-slide
    .stripe.stripe--second
      .stripe__wrapper
        .stripe__arrow

    .desinfection__wrapper
      .row
        .desinfection__left.col-xl-4
          h2.desinfection__title Дезинфекция
          .desinfection__text
            p Для проведения процедуры дезинфекции контейнеров для ТКО сотрудники компании ООО «Южный Город» выедут на вашу территорию. Компания ООО «Южный Город» при мойке и дезинфекции контейнеров соблюдает все меры безопасности и основные правила эксплуатации объекта, руководствуется СанПиН. Законодательство обязывает все организации, оказывающие услуги по сбору и вывозу мусора, систематически осуществлять дезинфекцию контейнеров и бункеров. Мы рады предложить такие услуги по самым выгодным ценам:

        .col-xl-8
          article.desinfection__prices.prices
            table.prices__table
              thead
                tr
                  th Объем контейнера, м<sup>3</sup>
                  th Цена, руб, без учета ндс*
              tbody
                tr
                  td 0,12
                  td 60
                tr
                  td 0,24
                  td 120
                tr
                  td 0,36
                  td 180
                tr
                  td 0,66
                  td 330
                tr
                  td 1,1
                  td 500

      .row
        .desinfection__left.col-xl-4
          .desinfection__text
            p Мы являемся лидерами на рынке потому что предлагаем высокий уровень обслуживания, высококвалифицированную команду, всю необходимую разрешительную документацию. Предлагаем обсудить наши предложения о совместной работе и просим Вас назначить дату и время приема, для обсуждения детальных вопросов и цен.

            p Связаться с нами Вы можете по телефону/факсу (863) 3333-907, 8-918-852-17-94, 8-988-550-73-44 или направить информацию на адрес электронной почты a.gladilina@wasterostov.ru<br> или по адресу: 344111, г. Ростов-на-Дону,<br> проспект 40-летия Победы 332Б, 3 этаж , оф. 37.

        .desinfection__right.col-xl-8
          p Выезд к заказчику при одновременной мойке и дезинфекции в количестве от 100 шт. объемом 1,1м3. В случае когда количество менее 100 шт или объем контейнеров меньше 1,1м3 — отдельно оплачиваются транспортные расходы в размере 10 000 рублей за рейс.

    svg.desinfection__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

  include includes/contacts
