extends templates/layout

block vars
  - var page = 'containers'

block promo
  section.containers
    .stripe
      .stripe__wrapper
        .stripe__arrow

    .containers__wrapper
      h1.page-title Контейнеры для мусора
      p Специалисты нашей компании разрабатывают и применяют современные технологические методы сбора и транспортировки отходов, отвечающие мировому уровню. Оптимизация производственных процессов и использование отечественной и зарубежной техники способствуют снижению их стоимости при сохранении высокого качества работы. Это позволяет нам предложить каждому нашему заказчику индивидуальное решение любых проблем и оптимальный выбор продукции под его нужды.

      ul.containers__list
        li.containers__item
          .containers__info
            .containers__left
              .containers__image
                img(src="img/container-1.png", width="200", alt="Контейнер малого объема")
              h3.containers__title.dottable Контейнеры<br> объёмом

            .containers__right
              .containers__value
                b 0,7 м<sup>3</sup>
                b 1,1 м<sup>3</sup>

          .containers__desc
            p Предлагаем пластиковые и металлические передвижные закрывающиеся контейнеры европейского образца для сбора твердых бытовых отходов.

            p(style="color: #007e4a; font-weight: 400;") Идеально подходит для коттеджных поселков, ТСЖ, ЖСК, юридических лиц и частных домовладений.

        li.containers__item
          .containers__info
            .containers__left
              .containers__image
                img(src="img/container-2.png", width="320", alt="Контейнер среднего объема")
              h3.containers__title.dottable Контейнеры<br> объёмом

            .containers__right
              .containers__value
                b 80 л
                b 120 л
                b 240 л

          .containers__desc
            p Установка таких емкостей удобна для предприятий с малым объемом мусоронакопления.

            p(style="color: #007e4a; font-weight: 400;") Такие контейнеры предназначены для установки на площадках небольших магазинов, офисов, предприятий сферы бытового обслуживания, а также будут хорошо смотреться на Ваших дачных участках и в частных домовладениях.

        li.containers__item
          .containers__info
            .containers__left
              .containers__image
                img(src="img/container-3.png", width="326", alt="Контейнер для строительных и негабаритных отходов")
              h3.containers__title.dottable Контейнеры<br> для строительных<br> и негабаритных отходов

            .containers__right
              .containers__value
                b(style="font-size: 15px;") от 12 м<sup>3</sup>
                b(style="font-size: 15px;") до 40 м<sup>3</sup>

          .containers__desc
            p(style="color: #007e4a; font-weight: 400;") Установка контейнера емкостью 5 м<sup>3</sup>, 7 м<sup>3</sup>, 10 м<sup>3</sup>, 18 м<sup>3</sup>, 27 м<sup>3</sup> с минимальной высотой загрузки 1,1 метра от поверхности площадки.

            b(style="color: #007e4a;") Преимущество этой услуги:
            ul
              li возможность использования контейнера для загрузки строительными и негабаритными отходами в течении нескольких суток;
              li вывоз строительных и негабаритных отходов автотранспортом с территории заказчика.

            p(style="color: #007e4a; font-weight: 400;") Этот вариант услуги предоставляется предприятиям с большим объемом мусоронакопления, а именно гипер и супермаркеты, крупные торговые центры, рынки, строительные организации, ТСЖ, ЖСК и многие другие...

    svg.containers__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  include includes/contacts
