extends templates/layout

block vars
  - var page = 'disposal'

block promo
  section.promo.promo--about.promo--disposal
    .promo__slider
      .promo__gallery.gallery.gallery--about.gallery--triple.swiper-container
        ul.gallery__list.swiper-wrapper
          - var slides = new Array(5)

          each slide in slides
            li.gallery__item.swiper-slide
              .gallery__image(style="background-image: url(img/disposal-slide-1.jpg)", aria-label="Картинка жёлтого мусоровоза, забирающего бак")
              .gallery__image(style="background-image: url(img/disposal-slide-2.jpg)", aria-label="Картинка человека, погружающего бак в мусоровоз")
              .gallery__image(style="background-image: url(img/disposal-slide-3.jpg)", aria-label="Картинка мусоровоза, высыпающего мусор из бака")

        .gallery__wrapper
          .gallery__pagination

      .promo__wrapper
        .promo__counter.counter.swiper-container
          ul.counter__list.swiper-wrapper

    .promo__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      h1.page-title.page-title--before Вывоз отходов
      p.promo__slogan ООО «ЮЖНЫЙ ГОРОД»<br> работает на рынке коммунальных услуг с 2003 года,<br> осуществляя вывоз и утилизацию отходов<br> на всей территории Южного федерального округа.
      .promo__row.row
        .promo__left.col-lg-6
          h3 Услуги по вывозу отходов:
          ul
            li Сбор и транспортировка промышленных отходов
            li Сбор и транспортировка твердых и жидких бытовых отходов
            li Сбор и транспортировка опасных отходов

        .promo__right.col-lg-6
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia desemagnam aliquam quaerat voluptatem.

    svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  section.services.swiper-slide
    .stripe.stripe--second
      .stripe__wrapper
        .stripe__arrow

    .services__wrapper
      ul.services__list.row
        li.services__item.col-xl-4
          .services__image
            img(src="img/waste-paper.jpg", alt="Стопки макулатуры")
          h3.services__title Сбор и транспортировка промышленных отходов

          p Промышленным предприятиям в ходе осуществления своей деятельности важно соблюдать санитарно-эпидемиологические нормы и своевременную очистку территории.

          p Наша компания выполнит эти работы в строго оговоренные сроки, качественно и по вполне доступной цене. При необходимости мы перевезем металлолом, макулатуру, опилки и прочий мусор.

        li.services__item.col-xl-4
          .services__image
            img(src="img/dump.jpg", alt="Свалка")
          h3.services__title Сбор и транспортировка твердых и жидких бытовых отходов

          p Мы занимаемся вывозом мусора в Ростове, Аксае, Новочеркасске, Таганроге, Краснодаре, респ. Адыгея.

          p Вместе с заказчиком мы разрабатываем наиболее удобную схему и график вывоза мусора, а также подбираем вид контейнеров и самое удобное их расположение, сами оборудуем контейнерные площадки и предоставляем контейнеры нужного объема в аренду.

          p Мы придерживаемся общегородских тарифов, предусмотрим скидки для постоянных клиентов. Работаем без выходных. Можем срочно вывезти мусор.

          p Также, обратившись к нам, вы получите полный комплекс услуг по выкачке и вывозу жидких бытовых отходов.

        li.services__item.col-xl-4
          .services__image
            img(src="img/plastic.jpg", alt="Пластиковые отходы")
          h3.services__title Сбор и транспортировка опасных отходов

          p Вывозим опасные отходы любых объемов, габаритов, агрегатных состояний к местам их обезвреживания в Ростове-на-Дону, Аксае, Новочеркасске, Таганроге, в Краснодаре и респ. Адыгея.

          ul
            li Вывоз медицинских отходов класса А, а также обеззараженных мед. отходов класса Б и В к местам их захоронения
            li Вывоз ртутьсодержащих отходов: ламп, термометров, приборов к местам их обезвреживании
            li Вывоз опасных грузов

    svg.services__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

  include includes/contacts
