extends templates/layout

block vars
  - var page = 'equipment'

block promo
  section.promo.promo--about.promo--equipment
    .promo__slider
      .promo__gallery.gallery.gallery--about.gallery--triple.swiper-container
        ul.gallery__list.swiper-wrapper
          - var slides = new Array(5)

          each slide in slides
            li.gallery__item.swiper-slide
              .gallery__image(style="background-image: url(img/equipment-slide-1.jpg)", aria-label="Картинка детского городка")
              .gallery__image(style="background-image: url(img/equipment-slide-2.jpg)", aria-label="Картинка двух девочек, катающихся на качелях")
              .gallery__image(style="background-image: url(img/equipment-slide-3.jpg)", aria-label="Картинка детской горки")

        .gallery__wrapper
          .gallery__pagination

      .promo__wrapper
        .promo__counter.counter.swiper-container
          ul.counter__list.swiper-wrapper

    .promo__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      .promo__content
        h1.page-title.page-title--before Оборудование<br> для детских и спортивных площадок

        p ООО «ЮЖНЫЙ ГОРОД» заботится как о чистоте нашего города, так и о его жителях, в особенности – о детях. Мы производим все необходимое для благоустройства детских игровых и спортивных площадок, стадионов, парков и дворов. Качество нашей продукции гарантирует безопасность ваших детей.

        p Наша продукция изготовлена из прочных и долговечных материалов, способных вынести различные погодные условия. Мы можем предложить Вам детские площадки оригинального дизайна, выполненные из различных материалов, а также множество вариантов оформления детских площадок с использованием различных форм и конструкций. Всё будет зависеть от вашего бюджета и предпочтений. Вы сможете обустроить площадку спортивного или развлекательного типа для детей либо мини-парк аттракционов, увлекательный детский городок, либо уютные лавочки и беседки – все зависит от вашей фантазии и возможностей!

    svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  section.offers.offers--equipment.swiper-slide
    .stripe.stripe--second
      .stripe__wrapper
        .stripe__arrow

    .offers__wrapper
      h2.offers__title Виды оборудования
      .row
        .offers__desc.col-lg-5
          ul
            li Качалки на пружине
            li Качалки-балансиры и карусели
            li Качели
            li Горки
            li Песочницы и песочные дворики
            li Игровые комплексы
            li Игровые формы
            li(style="font-weight: 700; color: #f98700;") Спортивные комплексы и инвентарь
            li Дворовое и парковое оборудование
            li Уличные тренажеры

          p.offers__note Для обустройства спортивных площадок мы предлагаем следующие виды тренажеров, изготовленных из надежных и качественных материалов и отвечающих всем современным требованиям.

        .offers__photos.col-lg-7.row
          .offers__image.col-lg-4
            img(src="img/equipment-1.png", alt="Скамья со швецкой стенкой")
          .offers__image.col-lg-4
            img(src="img/equipment-2.png", alt="Скамья со швецкой стенкой")
          .offers__image.col-lg-4
            img(src="img/equipment-3.png", alt="Скамья со швецкой стенкой")
          .offers__image.col-lg-4
            img(src="img/equipment-4.png", alt="Скамья со швецкой стенкой")
          .offers__image.col-lg-4
            img(src="img/equipment-5.png", alt="Скамья со швецкой стенкой")
          .offers__image.col-lg-4
            img(src="img/equipment-6.png", alt="Скамья со швецкой стенкой")

    svg.offers__scroll.scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

  include includes/contacts
