extends templates/layout

block vars
  - var page = 'garbage'

block promo
  section.promo.promo--about.promo--disposal.promo--garbage
    .promo__slider
      .promo__gallery.gallery.gallery--about.gallery--triple.swiper-container
        ul.gallery__list.swiper-wrapper
          - var slides = new Array(5)

          each slide in slides
            li.gallery__item.swiper-slide
              .gallery__image(style="background-image: url(img/disposal-slide-1.jpg)", aria-label="Картинка жёлтого мусоровоза, забирающего бак")
              .gallery__image(style="background-image: url(img/disposal-slide-2.jpg)", aria-label="Картинка человека, погружающего бак в мусоровоз")
              .gallery__image(style="background-image: url(img/disposal-slide-3.jpg)", aria-label="Картинка мусоровоза, высыпающего мусор из бака")

        .gallery__wrapper
          .gallery__pagination

      .promo__wrapper
        .promo__counter.counter.swiper-container
          ul.counter__list.swiper-wrapper

    .promo__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      h1.page-title.page-title--before Вывоз мусора
      .promo__row.row
        .promo__right.dottable.col-lg-4
          p Компания "ЮЖНЫЙ ГОРОД" осуществляет вывоз мусора в Ростовской области: Ростов-на-дону, Батайск, Аксай, Новочеркасск, Таганрог; в Краснодарском крае: Краснодар, Анапа, Новороссийск, а также в респ. Адыгея Мы предоставляем широкий спектр услуг по вывозу любого вида мусора для организаций и частных лиц на выгодных условиях.

          p С такой проблемой как вывоз и утилизация мусора сталкиваются все без исключения организации и предприятия различного рода деятельности. Не зависимо от рода деятельности, необходимость избавиться от накопленных ТБО всегда остается актуальной.

          p Наш штат специалистов с большим опытом осуществит полный комплекс услуг по вывозу мусора. Наши специалисты упакуют при необходимости отходы, осуществят погрузку в наш автотранспорт и доставку к местам утилизации.

        .promo__left.col-lg-7.offset-lg-1
          h3 Вывоз мусора можно разделить на несколько категорий:
          ul
            li вывоз мусора из квартиры и приусадебного участка
            li вывоз строительного мусора и грунта
            li вывоз ТБО и промышленных отходов
            li вывоз крупногабаритного мусора и др.

      footer.promo__footer
        p Все работы по вывозу мусора<br> можно заказать у нас по телефону:
        a(href="tel:+78632017664") +7 (863) 201 76 64

    svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  include includes/contacts
