extends templates/layout

block vars
  - var page = 'help'

block promo
  section.unique
    .unique__stripe.stripe.stripe--partial.stripe--no-scroll
      .stripe__wrapper
        .stripe__arrow

    .unique__wrapper
      h1.page-title Скорая экологическая помощь
      .unique__content
        ul
          li Разработка любой проектной документации в сжатые сроки
          li Быстрое согласование проектной документации в надзорных органах
          li Профессиональные консультации по вопросам природопользования
          li Представление интересов Заказчика при проведении проверок контролирующими органами

        p(style="font-size: 25px;")
          b «Горящие» проекты в срок!

        ul
          li Срочный вывоз мусора
          li Оперативная уборка и благоустройство территорий

        p(style="font-size: 16px;")
          b Нашим ЭКОЛОГИЧЕСКИМ Заказчикам — скидки и спец. условия по вывозу ТБО!

    svg.unique__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  include includes/contacts
