extends templates/layout

block vars
  - var page = 'index'

block promo
  section.promo
    .promo__banner
      .promo__wrapper
        svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
          use(xlink:href="#mouse")

    .stripe
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      b.promo__title Чистым воздухом — легче дышится...
      p.promo__text.dottable Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

block content
  section.offers.swiper-slide
    .stripe.stripe--second
      .stripe__wrapper
        .stripe__arrow

    .offers__wrapper
      h2.offers__title Южный город предлагает
      .row
        .offers__desc.col-lg-5
          section.offers__services
            h3 Услуги
            ul
              -
                var services = [{
                  title: 'Вывоз отходов',
                  icon: {
                    path: '#disposal',
                    width: 59,
                    height: 33
                  }
                }, {
                  title: 'Cкорая экологическая помощь',
                  icon: {
                    path: '#help',
                    width: 44,
                    height: 43
                  }
                }, {
                  title: 'Благоустройство территорий',
                  icon: {
                    path: '#landscaping',
                    width: 44,
                    height: 46
                  }
                }, {
                  title: 'Экологическое проектирование',
                  icon: {
                    path: '#design',
                    width: 48,
                    height: 41
                  }
                }, {
                  title: 'Строительство экотехнопарков',
                  icon: {
                    path: '#ecotechnoparks',
                    width: 44,
                    height: 44
                  }
                }, {
                  title: 'Рекультивация полигонов',
                  icon: {
                    path: '#reclamation',
                    width: 60,
                    height: 42
                  }
                }, {
                  title: 'Зачистка объектов',
                  icon: {
                    path: '#sweep',
                    width: 34,
                    height: 37
                  }
                }]

              each service in services
                li
                  svg(width="60", height = service.icon.height)
                    use(xlink:href = service.icon.path)
                  = service.title

          section.offers__goods
            h3 Товары
            ul
              -
                var goods = [{
                  title: 'Контейнеры для мусора',
                  icon: {
                    path: '#containers',
                    width: 34,
                    height: 49
                  }
                }, {
                  title: 'Детские и спортивные площадки',
                  icon: {
                    path: '#courts',
                    width: 39,
                    height: 39
                  }
                }, {
                  title: 'Ещё какой-то товар',
                  icon: {
                    path: '#courts',
                    width: 39,
                    height: 39
                  }
                }]

              each good in goods
                li
                  svg(width="60", height = good.icon.height)
                    use(xlink:href = good.icon.path)
                  = good.title

        .offers__slider.col-lg-7
          .offers__gallery.gallery.swiper-container
            ul.gallery__list.swiper-wrapper
              - var slides = new Array(5)

              each slide in slides
                li.gallery__item.swiper-slide
                  p.gallery__text.dottable Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  img.gallery__image(src="img/carbage-collector.jpg", alt="Новый мусоровоз")

            .gallery__pagination

          .counter.swiper-container
            ul.counter__list.swiper-wrapper

    svg.offers__scroll.scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

  .screen.swiper-slide
    .stripe
      .stripe__wrapper
        .stripe__arrow

    section.stock
      .stock__wrapper
        .stock__header
          h2.stock__title Акции
          p.stock__note Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuea commodo consequat.
        ul.stock__list
          li
            h3 Наименование акцииНаименование акцииНаименование акции
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. eos qui ratione voluptatem sequi incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          li
            h3 Наименование акции
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          li
            h3 Наименование акции
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    section.partners
      .partners__wrapper
        h2.partners__title Наши партнеры

      .partners__slider.swiper-container
        ul.partners__list.swiper-wrapper
          li.partners__item.swiper-slide

    .stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

  section.different.swiper-slide
    .different__stripe.stripe.stripe--second
      .stripe__wrapper
        .stripe__scroll scroll

    .different__wrapper
      h2.different__title Разное
      ul.different__list
        li
          h3 Новости Новости Новости Новости Новости Новости Новости Новости Новости Новости

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. eos qui ratione voluptatem sequi incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          a(href="#") Ещё новости

        li
          h3 Вопросы

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          a(href="#") Задать вопрос

        li
          h3 Календарь

          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      p.different__note ыываомирлвфоамир яьбчт счси олчс ч  лм ячломдляостмилдсотб

      svg.different__scroll(width="28", height="30", preserveAspectRatio="none")
        use(xlink:href="#mouse")

  include includes/contacts
