extends templates/layout

block vars
  - var page = 'jobs'
  -
    var jobs1 = [{
      title: 'Водители на грузовые автомобили-мусоровозы',
      duties: [
        'Сбор мусора по закрепленному маршруту с последующей выгрузкой на полигоне',
        'Осуществление мелкого ремонта закрепленного автомобиля',
        'Работа на мусороуборочной машине (КАМАЗ, МАЗ, ЗИЛ)'
      ],
      requirements: [
        'Среднее профессиональное образование',
        'Стаж вождения в категории С от 2-х лет',
        'Ответственность, пунктуальность',
        'Отсутствие вредных привычек',
        'Водительские права категории C'
      ],
      circs: [
        'Оформление по ТК РФ, соц. пакет',
        'Заработная плата от 25000 руб. в месяц',
        'График работы 2/2, выходные скользящие. Начало смены в 6-00',
        'Работа в крупной стабильной компании',
        'Полный рабочий день разъездного характера'
      ],
      contacts: [
        'Вакансия открыта в г. Аксай, Анапа, Новороссийск, Севастополь',
        'Резюме отправлять по адресу: hr@eco-ug.com',
        'Обращаться по тел.: 8-988-550-73-88'
      ]
    }, {
      title: 'Механик',
      duties: [
        'Выпуск автомобилей по маршрутам (вывоз отходов по территории Аксая, Аксайского р-на)',
        'Организация ремонта автотранспорта, своевременное обеспечение исправности автомобилей',
        'Ведение всей документации по транспорту (графики ТО, ремонтов и т.п.)',
        'Контроль за работой транспорта на линии (объезд маршрутов, отслеживание через программу ВИАЛОН)',
        'Контроль за расходом топлива',
        'Оптимизация маршрутов транспорта',
        'Приём телефонных звонков от клиентов, решение возникающих вопросов в пределах своей компетенции',
        'Заключение договоров на вывоз ТБО',
        'Отчётность'
      ],
      requirements: [
        'Среднее специальное / высшее образование',
        'Опыт работы в должности механика по выпуску от 2-х лет',
        'Знание технической части грузовых автомобилей (Камаз, Маз, Зил)',
        'В случае необходимости мелкий ремонт автомобилей',
        'Знание ПК',
        'Наличие личного автомобиля обязательно',
        'Ответственности, исполнительность',
        'Водительские права категории B'
      ],
      circs: [
        'Оформление по ТК РФ, соц. пакет',
        'Введение в должность',
        'График работы: неделя / неделя с 6-00 до 18-00 ч. (возможно 2/2)',
        'Компенсация ГСМ, моб. связи в пределах установленных лимитов',
        'Место работы: г. Аксай, ул. Луначарского, 16 (рядом с МЧС)',
        'В непосредственном подчинении водители и автослесари',
        'Работа в крупной стабильной компании',
        'Сменный график работы на территории работодателя'
      ],
      contacts: [
        'Вакансия открыта в г. Аксай, г. Севастополь, г.Новороссийск',
        'Резюме отправлять по адресу: hr@eco-ug.com',
        'Обращаться по тел.: 8-988-550-73-88'
      ]
    }, {
      title: 'Подсобный рабочий',
      duties: [
        'Подбирать мусор, рассыпавшийся после подъёма контейнера, наводить чистоту на контейнерных площадках'
      ],
      circs: [
        'Оформление по ТК РФ, соцпакет',
        'Заработная плата определяется по результатам собеседования',
        'Работа в крупной стабильной компании'
      ],
      contacts: [
        'Вакансия открыта в г. Аксай, г. Новороссийск',
        'Резюме отправлять по адресу: hr@eco-ug.com',
        'Обращаться по тел.: 8-988-550-73-88'
      ]
    }]

  -
    var jobs2 = [{
      title: 'Водители на грузовые автомобили-мусоровозы',
      duties: [
        'Сбор мусора по закрепленному маршруту с последующей выгрузкой на полигоне',
        'Осуществление мелкого ремонта закрепленного автомобиля',
        'Работа на мусороуборочной машине (КАМАЗ, МАЗ, ЗИЛ)'
      ],
      requirements: [
        'Среднее профессиональное образование',
        'Стаж вождения в категории С от 2-х лет',
        'Ответственность, пунктуальность',
        'Отсутствие вредных привычек',
        'Водительские права категории C'
      ],
      circs: [
        'Оформление по ТК РФ, соц. пакет',
        'Заработная плата от 25000 руб. в месяц',
        'График работы 2/2, выходные скользящие. Начало смены в 6-00',
        'Работа в крупной стабильной компании',
        'Полный рабочий день разъездного характера'
      ],
      contacts: [
        'Вакансия открыта в г. Аксай, Анапа, Новороссийск, Севастополь',
        'Резюме отправлять по адресу: hr@eco-ug.com',
        'Обращаться по тел.: 8-988-550-73-88'
      ]
    }, {
      title: 'Механик',
      duties: [
        'Выпуск автомобилей по маршрутам (вывоз отходов по территории Аксая, Аксайского р-на)',
        'Организация ремонта автотранспорта, своевременное обеспечение исправности автомобилей',
        'Ведение всей документации по транспорту (графики ТО, ремонтов и т.п.)',
        'Контроль за работой транспорта на линии (объезд маршрутов, отслеживание через программу ВИАЛОН)',
        'Контроль за расходом топлива',
        'Оптимизация маршрутов транспорта',
        'Приём телефонных звонков от клиентов, решение возникающих вопросов в пределах своей компетенции',
        'Заключение договоров на вывоз ТБО',
        'Отчётность'
      ],
      requirements: [
        'Среднее специальное / высшее образование',
        'Опыт работы в должности механика по выпуску от 2-х лет',
        'Знание технической части грузовых автомобилей (Камаз, Маз, Зил)',
        'В случае необходимости мелкий ремонт автомобилей',
        'Знание ПК',
        'Наличие личного автомобиля обязательно',
        'Ответственности, исполнительность',
        'Водительские права категории B'
      ],
      circs: [
        'Оформление по ТК РФ, соц. пакет',
        'Введение в должность',
        'График работы: неделя / неделя с 6-00 до 18-00 ч. (возможно 2/2)',
        'Компенсация ГСМ, моб. связи в пределах установленных лимитов',
        'Место работы: г. Аксай, ул. Луначарского, 16 (рядом с МЧС)',
        'В непосредственном подчинении водители и автослесари',
        'Работа в крупной стабильной компании',
        'Сменный график работы на территории работодателя'
      ],
      contacts: [
        'Вакансия открыта в г. Аксай, г. Севастополь, г.Новороссийск',
        'Резюме отправлять по адресу: hr@eco-ug.com',
        'Обращаться по тел.: 8-988-550-73-88'
      ]
    }, {
      title: 'Подсобный рабочий',
      duties: [
        'Подбирать мусор, рассыпавшийся после подъёма контейнера, наводить чистоту на контейнерных площадках'
      ],
      circs: [
        'Оформление по ТК РФ, соцпакет',
        'Заработная плата определяется по результатам собеседования',
        'Работа в крупной стабильной компании'
      ],
      contacts: [
        'Вакансия открыта в г. Аксай, г. Новороссийск',
        'Резюме отправлять по адресу: hr@eco-ug.com',
        'Обращаться по тел.: 8-988-550-73-88'
      ]
    }]

block promo
  section.promo.promo--jobs
    .stripe
      .stripe__wrapper
        .stripe__arrow

    .promo__header
      .promo__wrapper
        h1.page-title Вакансии

    .promo__wrapper
      ul.promo__list
        li Водители на грузовые автомобили-мусоровозы
        li Механик
        li Подсобный рабочий
        li Слесарь
        li Менеджер по продажам

      svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
        use(xlink:href="#mouse")

block content
  section.jobs.jobs--wave-bg.swiper-slide
    .stripe.stripe--second.stripe--scroll
      .stripe__wrapper
        .stripe__scroll scroll
        .stripe__arrow

    .jobs__wrapper
      h2.jobs__title Доступные вакансии
      ul.jobs__list
        each job in jobs1
          li
            h3= job.title

            section
              h4 Обязанности
              ul
                each duty in job.duties
                  li= duty

            if job.requirements
              section
                h4 Требования
                ul
                  each requirement in job.requirements
                    li= requirement

            section
              h4 Условия работы
              ul
                each circ in job.circs
                  li= circ

            div
              ul
                each contact in job.contacts
                  li
                    b= contact

      .jobs__links
        a.jobs__more(href="#") Смотреть ещё вакансии

  section.jobs.swiper-slide
    .stripe.stripe--second.stripe--scroll
      .stripe__wrapper
        .stripe__scroll scroll
        .stripe__arrow

    .jobs__wrapper
      h2.jobs__title Доступные вакансии
      ul.jobs__list
        each job in jobs1
          li
            h3= job.title

            section
              h4 Обязанности
              ul
                each duty in job.duties
                  li= duty

            if job.requirements
              section
                h4 Требования
                ul
                  each requirement in job.requirements
                    li= requirement

            section
              h4 Условия работы
              ul
                each circ in job.circs
                  li= circ

            div
              ul
                each contact in job.contacts
                  li
                    b= contact

  include includes/contacts
