extends templates/layout

block vars
  - var page = 'landscaping'

block promo
  section.promo.promo--about.promo--disposal.promo--cleaning.promo--landscaping
    .promo__slider
      .promo__gallery.gallery.gallery--about.gallery--landscaping.gallery--double.swiper-container
        ul.gallery__list.swiper-wrapper
          - var slides = new Array(5)

          each slide in slides
            li.gallery__item.swiper-slide
              .gallery__image(style="background-image: url(img/landscaping-slide-1.jpg)", aria-label="Сад")
              .gallery__image(style="background-image: url(img/landscaping-slide-2.jpg)", aria-label="Парк")

        .gallery__wrapper
          .gallery__pagination

      .promo__wrapper
        .promo__counter.counter.swiper-container
          ul.counter__list.swiper-wrapper

    .promo__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      h1.page-title.page-title--before Благоустройство территорий
      p.promo__slogan Мы осуществляем полный комплекс работ по благоустройству территорий:
      .promo__start
        h3 Предпроектные работы
        p топографическая съемка участка, нанесение отметок высот,<br> горизонталей, зданий и сооружений, насаждений.
      .promo__row.row
        .promo__left.col-xl-4
          ul
            li Проектные работы
              ul
                li Генеральный план (целиком либо отдельные разделы);
                li Дендроплан с ассортиментной ведомостью;
                li Вертикальная планировка;
                li Сводный план сетей;
                li Разбивочный чертеж;
                li Посадочный чертеж;
                li Схема организации движения.

        .promo__right.col-xl-8
          ul
            li Геодезические и разбивочные работы на площадке.
            li Укладка тротуарной плитки и дорожного камня.
            li Мостовые садовые и парковые дорожки, фигурные элементы мощения разнообразных форм и расцветок.
            li Установка ограждений, декоративных оград, цветочниц, ваз, скамеек и других малых архитектурных форм.
            li Устройство газонов, посадка деревьев и кустарников.
            li Устройство дренажей.
            li Ландшафтный дизайн.
            li Спил, обрезка, корчевание деревьев и т.п.

    svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  section.offers.offers--about.offers--landscaping.swiper-slide
    .stripe.stripe--second
      .stripe__wrapper
        .stripe__arrow

    .offers__wrapper
      h2.offers__title Мы сделаем для вас:
      .row
        -
          var offers = [
            'Подбор газонной смеси, устройство газона;',
            'Разбивку клумб и цветников;',
            'Посадку декоративных кустарников и деревьев;',
            'Установку декоративных систем, арок, лестниц для вьющихся растений;',
            'Стрижку газона;',
            'Мощение дорожек.'
          ]

        .offers__desc.col-lg-4
          p Наша компания выполняет работы в оптимальные сроки и с качеством, соответствующим СНиПам и ГОСТам, с использованием экологически чистых сертифицированных материалов.

          p На все работы предоставляется гарантия.

          ul.offers__list
            each offer in offers
              li.offers__item= offer

          .offers__footer
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit lore magnam aliquam quaerat voluptatem.

        .offers__slider.col-lg-8
          .offers__gallery.gallery.gallery--landscaping.swiper-container
            ul.gallery__list.swiper-wrapper
              - var slides = new Array(5)

              each slide in slides
                li.gallery__item.swiper-slide
                  p.gallery__text.dottable(style="height: 60px;") Предоставьте благоустройство Вашей территории Нам!
                  img.gallery__image(src="img/garden.jpg", alt="Мусоровоз, поднимающий бак")

          .offers__pagination.gallery__pagination

          .offers__counter.counter.swiper-container
            ul.counter__list.swiper-wrapper

    svg.offers__scroll.scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

  include includes/contacts
