extends templates/layout

block vars
 - var page = 'licenses'

block promo
  section.licenses
    .licenses__stripe.stripe.stripe--second
      .stripe__wrapper
        .stripe__arrow(style="bottom: -20px;")

    .licenses__wrapper
      header.licenses__header
        h1.licenses__title.page-title Лицензии
        p.licenses__note Наша компания располагает всеми необходимыми лицензиями, экологической документацией, документацией по предоставляемым услугам. И имеются все необходимые договоры на прием мусора и утилизацию отходов с полигонами.

      .licenses__content
        ul.licenses__list
          - var licenses = new Array(8)

          each license in licenses
            li
              a(href="img/license.jpg", data-fancybox="gallery", data-caption="Лицензия")
                img(src="img/license.jpg", alt="Лицензия")

      svg.licenses__scroll.scroll(width="28", height="30", preserveAspectRatio="none")
        use(xlink:href="#mouse")

block content
  include includes/contacts
