extends templates/layout

block vars
  - var page = 'mission'

block promo
  section.mission
    .mission__wrapper
      h1.mission__title.page-title Миссия и стратегии
      .mission__content.row
        .mission__column.dottable.col-lg-4
          p Мы работаем в сфере утилизации любых видов отходов. В повседневном понимании под словом «отходы» принято подразумевать, как правило, мусор. Но это вовсе не означает, что нам приходится иметь дело лишь с мусором. На самом деле – мы работаем с людьми, и наша главная задача – сделать жизнь комфортной, а бизнес – экологически чистым. Мы хотим, чтобы наши дети были здоровыми, а родной город – чистым!

          p Мы работаем в сфере утилизации любых видов отходов. В повседневном понимании под словом «отходы» принято подразумевать, как правило, мусор. Но это вовсе не означает, что нам приходится иметь дело лишь с мусором. На самом деле – мы работаем с людьми, и наша главная задача – сделать жизнь комфортной, а бизнес – экологически чистым. Мы хотим, чтобы наши дети были здоровыми, а родной город – чистым!

        .mission__column.dottable.col-lg-4
          p Интересы наших клиентов для нас – важнее всего. Мы стараемся быть как можно ближе к вам и максимально быстро реагировать на все ваши пожелания. Мы – за личностное общение на любом уровне: от руководителя предприятия до рядовых сотрудников. Мы выявляем потребности партнера (клиента), а только после делаем эксклюзивное предложение каждому из наших клиентов, будь то владелец небольшого коттеджа, стремящийся жить эстетично и комфортно, до руководителя ЖКХ или ЖЭУ, представителя администрации муниципального объекта.

        .mission__column.dottable.col-lg-4
          p Наша компания открыта для создания партнерских отношений со всеми, кто содействует выполнению задач нашей компании – сотрудниками, заказчиками, поставщиками, органами власти, инвесторами, акционерами и партнерами. Мы уважаем личность каждого человека и ценим индивидуальность.

          p Наша цель – работать так, чтобы клиенты получали позитивные эмоции. Мы предлагаем простые, рациональные и доступные решения в сфере услуг. Мы предлагаем лучшие финансовые решения для вас и помогаем экономить!

    section.mission__features.features
      .mission__stripe.stripe.stripe--second
        .stripe__wrapper
          .stripe__arrow

      .features__wrapper
        p.features__intro
          b.features__title Мы работаем под девизом:
          b.features__motto Помогать людям – наша профессия!

        .features__content.row
          .features__values.values.col-md-3.col-lg-12.col-xl-3
            h3.values__title Наши ценности:
            ul.values__list
              li ответственность
              li качество и удобство
              li новаторство
              li открытость
              li гибкость

          .col-md-9.col-lg-12.col-xl-9
            ul.features__list
              li
                h3 Ответственность:
                p Стимулы и условия. Мы создаем условия для того, чтобы наши сотрудники трудились продуктивно и могли решать сложные и масштабные задачи клиентов.

                p Стимулы и условия. Мы создаем условия для того, чтобы наши сотрудники трудились продуктивно и могли решать сложные и масштабные задачи клиентов.

              li
                h3 Новаторство:
                p Мы ценим нестандартный подход и новые тренды. Мы первые узнаем о новых тенденциях в нашем сегменте и оперативно внедряем в спектр наших услуг! Наши клиенты достойны получать новейшие и экономичные услуги!

              li
                h3 Открытость:
                p Один за всех – все за одного. Для сотрудника компании «Южный город» не существует фразы «Это не моя проблема» или «Это не входит в мои служебные обязанности». Мы - команда, сплочённо решающая задачи, поставленные перед нами клиентами.

              li
                h3 Гибкость:
                p Взаимопомощь. Мы постоянно учимся как на своих успехах, так и на ошибках. Взаимопомощь – стиль нашей жизни. Мы работаем для тех, кто наш окружает.


              li
                h3 Качество и удобство:
                p Мы являемся патриотами России. Наш вклад в процветание родного города мы рассматриваем как наивысшую форму оценки эффективности нашей работы. Мы делаем работу качественнее и дешевле, чем наши конкуренты.

      svg.mission__scroll.scroll(width="28", height="30", preserveAspectRatio="none")
        use(xlink:href="#mouse")

      .mission__wrapper
        p.mission__note.dottable Мы готовы снижать уровень издержек, вне зависимости от предполагаемого бюджета затрат. Успех проекта не измеряется количеством потраченных на него денег. Если в результате общения с нами вы потратили меньше, чем планировали – можете гордиться собой.

block content
  include includes/contacts
