extends templates/layout

block vars
  - var page = 'news'
  -
    var news = [{
      date: '11.03.2015',
      title: 'Группа компаний "Южный Город" установила сетки ПЭТ',
      text: 'В Ростовской области внедрят систему раздельного сбора мусора. Это масштабный проект требующий поэтапной реализации. Южный Город уже приступил к внедрению и работе с населением.'
    }, {
      date: '05.06.2013',
      title: 'День защиты окружающей среды или День Эколога',
      text: 'Компания «Южный Город» поздравила своих коллег: Сегодня День Защиты Окружающей Среды!'
    }, {
      date: '03.06.2013',
      title: 'Компания «Южный Город» приняла участие в съезде экологов Ростовской области.',
      text: 'В съезде приняли участие 200 делегатов от территориальных органов федеральных органов исполнительной власти, Правительства Ростовской области, органов исполнительной.'
    }, {
      date: '03.06.2013',
      title: 'Компания «Южный Город» приняла участие в съезде экологов Ростовской области.',
      text: 'В съезде приняли участие 200 делегатов от территориальных органов федеральных органов исполнительной власти, Правительства Ростовской области, органов исполнительной.'
    }, {
      date: '03.06.2013',
      title: 'Компания «Южный Город» приняла участие в съезде экологов Ростовской области.',
      text: 'В съезде приняли участие 200 делегатов от территориальных органов федеральных органов исполнительной власти, Правительства Ростовской области, органов исполнительной.'
    }]

block promo
  section.news
    .news__stripe.stripe.stripe--partial.stripe--no-scroll
      .stripe__wrapper
        .stripe__arrow

    .news__wrapper
      h1.page-title Новости
      .news__content.row
        .news__preview.col-xl-4
          ul.news__list
            each novelty, i in news
              li
                a(href="#novelty-" + (i + 1))
                  -
                    var date = novelty.date.split('.')
                    var datetime = date.reverse().join('-')

                  time(datetime= datetime)= novelty.date
                  h3= novelty.title
                  p= novelty.text

        .news__detail.col-xl-7.offset-xl-1
          - var details = new Array(5)

          ul
            each detail, i in details
              li(id="novelty-" + (i + 1))
                h2 Группа компаний "Южный Город" установила сетки ПЭТ

                p Ростовская область выбрала для себя программу по селективному сбору отходов. Мусор будет сортироваться на – «сухие» и «влажные» отходы. К «влажным» относятся остатки пищевых продуктов, к «сухим» - весь остальной мусор. <br> Главная цель сортировки мусора - это развитие вторичных ресурсов, отходы после переработки идут на производство бумаги, пластика и пр.

                p ГК "Южный Город" разбила для себя внедрение селективного сбора на два этапа:

                ol
                  li Установка сеток ПЭТ. На данном этапе ведется пропаганда понятия раздельного сбора у населения, прививается культура обращения с отходами, собирается и анализируется информация по готовности населения сортирвать мусор дома.

                  li Установка контейнеров для "влажных" и "сухих" отходов.

                p Уже более 20 сеток для пластика установлены компанией "Южный Город" на территории города Аксай.

      svg.news__scroll(width="28", height="30", preserveAspectRatio="none")
        use(xlink:href="#mouse")

block content
  include includes/contacts
