extends templates/layout

block vars
  - var page = 'planning'

block promo
  section.news.news--planning
    .news__stripe.stripe.stripe--partial.stripe--no-scroll
      .stripe__wrapper
        .stripe__arrow

    .news__wrapper
      h1.page-title Экологическое проектирование
      .news__content.row
        .col-xl-4
          h3 Вы хотите:
          ul
            li грамотно организовать природоохранную деятельность на предприятии?
            li избежать различных штрафных санкций и предписаний?
            li наладить экологический документооборот
            li на Вашем предприятии в экологическом направлении?
            li сэкономить время и нервы на сдаче отчетов?

          h3 На этапе проектирования зданий/сооружений:
          p Разработка проекта саснитарно-защитной зоны

          h3 На этапе эксплуатации:
          p Разработка проектной экологической документации (ПДВ, ПНООЛР) для объектов промышленности, сельского хозяйства, автотранспортных предприятий, государственных, медицинских и образовательных учреждений

          h3(style="color: #f98700") Абонентское экологическое обслуживание
          ul
            li Расчет ежеквартальной платы за негативное воздействие на окружающую среду
            li Формирование и сдача годового отчета об образовании, использовании, обезвреживанию и размещению отходов
            li Обеспечение текущей природоохранной деятельности
          p(style="color: #007e4a; font-size: 16px; text-transform: uppercase; font-weight: 700;") От 1000 руб. в месяц

        .col-xl-7.offset-xl-1
          h3 «ЮЖНЫЙ ГОРОД» готов стать вашим специалистом<br> по экологическому сопровождению в формате аутсорсинг!
          ul
            li Определим состав и класс опасности для получения паспорта опасности отходов.
            li Осуществим сбор и пакетирование опасных отходов в специализированную упаковку.
            li Разработаем и утвердим нормативы образования отходов, рассчитаем лимиты.
            li Оформим паспорта отходов.
            li Организуем складирование, хранение, вывоз и утилизацию отходов
            li любого морфологического состава и класса опасности.
            li Составим годовой отчет, продлим разрешение.
            li Рассчитаем суммы платежей за негативное воздействие на окружающую среду.
            li Сопроводим вас в процессе проверок инспектирующими органами.

          h3 Мы предлогаем:
          p «ПАКЕТ УСЛУГ» – вы выбираете одно из готовых решений ООО «Южный Город» и заключаете с нами договор абонентского обслуживания.

          p Разовые консультации.<br> Услугу «ПРИХОДЯЩИЙ ЭКОЛОГ» – «Южный Город» станет вашей экологической службой на аутсорсинге – от 6 до 40 тыс. рублей (зависит от комплекта услуг, необходимости паспортизации, размера предприятия и т.д.).

          p ВЫГОДА и Ответственность за результат

          p Если Ваш штатный специалист потратит массу рабочего времени и средств компании на получение разрешительной экологической документации, а в результате небольшой ошибки или недоработки Вы рискуете получить штраф, ТО в случае работы с Экологом–АУТСОРСЕРОМ, ответственность и гарантии Мы берем на себя!

          p ВСЕ наши проекты разрабатываются не более 1 месяца.

          p Мы гарантируем отсутствие штрафных санкций при оформлении документации у нас.

          p МЫ рады видеть Вас в числе наших постоянных клиентов!

    svg.news__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  include includes/contacts
