extends templates/layout

block vars
  - var page = 'polygons'

block promo
  section.unique.unique--polygons
    .unique__stripe.stripe.stripe--partial.stripe--no-scroll
      .stripe__wrapper
        .stripe__arrow

    .unique__wrapper
      h1.page-title Строительство и эксплуатация полигонов тбо
      .unique__content
        p
          b Мы можем разработать проектную документацию на этапах строительства и эксплуатации Полигонов и Отходоперерабатывающих Комплексов – ОПК:

        ul
          li Разработка проектов санитарно-защитных зон – СЗЗ, ОВОС, перечня мероприятий по охране окружающей среды
          li Подготовка материалов для оформления лицензии на обезвреживание и размещение отходов
          li Разработка паспортов опасных отходов

        p.unique__note Мы также можем самостоятельно строить Полигоны и ОПК на территории Ростовской области, Краснодарского края, республики Адыгея, привлекая собственные инвестиции, с последующей эксплуатацией этих объектов.

    svg.unique__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  include includes/contacts
