extends templates/layout

block vars
  - var page = 'question'

block promo
  section.questions
    .questions__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .questions__wrapper
      h1.page-title Вопрос / Ответ
      .questions__content
        ul
          li
            h3 Как определить объем накопления мусора?
            p Для расчета нормативного объема образующихся отходов необходимо руководствоваться дифференцированными нормами образования отходов, утвержденных Постановлением Мэра г. Ростова-на-Дону № 2800 от 29.12.2003 г.

          li
            h3 От скольких кг вы принимаете алюминевые банки, ПЭТ бутылки и есть ли у Вас вывоз?
            p Прием и вывоз вторичных ресурсов осуществляется в объеме не менее 5 м³

          li
            h3 Подскажите, пожалуйста, вывозите ли Вы строительный мусор непосредственно с квартиры (стройвариант)? И сколько это будет стоить?

            p Вывоз строительного мусора из квартиры может осуществляться 2-мя способами:

            ol
              li C применением крупногабаритного контейнера объемом 23 м3, установкой его на срок до 2-х суток для загрузки строительных отходов собственными силами или грузчиками Исполнителя. Стоимость услуг по вывозу контейнера составляет 2500-3000 рублей в зависимости от адреса загрузки. Стоимость погрузки с использованием грузчиков составляет 1000 рублей за контейнер + 200 рублей за этаж.
              li C применением самосвала. Стоимость вывоза отходов в этом случае составляет без погрузки 2000 руб., с погрузкой 3000 руб.

        section.questions__ask.ask
          h2.ask__title Задать вопрос
          form.ask__form.form
            .form__field.form__field--underline
              label.form__label Имя:
              input.form__input(type="text")
            .form__field.form__field--underline
              label.form__label e-mail:
              input.form__input(type="email")
            .form__field
              textarea.form__message(placeholder="текст обращения:")
            .form__field
              button.form__btn(style="margin-left: auto;") Отправить

  svg.questions__scroll.scroll(width="28", height="30", preserveAspectRatio="none")
    use(xlink:href="#mouse")

block content
  include includes/contacts
