extends templates/layout

block vars
  - var page = 'territory'

block promo
  section.promo.promo--about.promo--landscaping.promo--territory
    .promo__slider
      .promo__gallery.gallery.gallery--about.gallery--landscaping.gallery--double.swiper-container
        ul.gallery__list.swiper-wrapper
          - var slides = new Array(5)

          each slide in slides
            li.gallery__item.swiper-slide
              .gallery__image(style="background-image: url(img/landscaping-slide-1.jpg)", aria-label="Сад")
              .gallery__image(style="background-image: url(img/landscaping-slide-2.jpg)", aria-label="Парк")

        .gallery__wrapper
          .gallery__pagination

      .promo__wrapper
        .promo__counter.counter.swiper-container
          ul.counter__list.swiper-wrapper

    .promo__stripe.stripe.stripe--partial
      .stripe__wrapper
        .stripe__arrow

    .promo__wrapper
      h1.page-title.page-title--before Клининг территорий
      .promo__row.row
        .promo__left.col-xl-4
          h3 Компания «Южный город»
          p предлагает Вам следующие услуги: уборка офисных помещений АБК и помещений непроизводственного назначения, находящихся на территории производства. А также – услуги по клинингу наружных поверхностей зданий: от уборки торговых и деловых центров до промышленных предприятий и жилых комплексов. Наши услуги позволяют решать любые проблемы чистоты практически всех категорий клиентов!

          h3 Клининг-альпинизм
          p Мы предлагаем Вам услуги по клининг-альпинизму – это специальная технология выполнения работ на промышленных и офисных объектах, когда работы осуществляются на высоте с использованием специального оборудования. Это мобильный, компактный способ организации уборки, доступность практически любого участка высотного или иного объекта для проведения работ.

        .promo__left.col-xl-7.offset-lg-1
          h3 Проводимые мероприятия при уборке помещений:
          ul
            li удаление загрязнений и пыли, дезинфекция потолка, световых фонарей,
            li опорных ферм потолочного перекрытия и стен;
            li удаление локальных загрязнений, пыли и дезинфекция опорных столбов.
            li чистка ковролина и химчистка ковров;
            li уборка офисов;
            li мойка окон и фасадов (альпинизм);
            li уборка после строительства, ремонта;
            li обработка твердых поверхностей;
            li мойка окон и витрин.

    svg.promo__scroll(width="28", height="30", preserveAspectRatio="none")
      use(xlink:href="#mouse")

block content
  include includes/contacts
