doctype html

block vars

html.no-js(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    link(rel="stylesheet", href="css/style.min.css")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=3a7d582f-ef58-49b4-9eca-6d401541b7b5&lang=ru_RU")

  body.page
    div(style="display: none;")
      include ../../build/img/sprite.svg

    .fullpage.swiper-container
      .fullpage__wrapper.swiper-wrapper
        .screen.swiper-slide
          include ../includes/header
          block promo
        block content

    block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/3.2.2/jquery.dotdotdot.js")
    script(src="js/script.min.js")
