.ask__title {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-height: 767px) {
    margin-bottom: 10px;
  }

  &::before {
    content: none;
  }
}

.ask__form {
  width: 340px;
}
