.contacts {
  background-color: #ffffff;
}

.contacts__wrapper {
  @include container;
  padding-top: 50px;
  padding-left: 200px;

  @media (max-width: $width-desktop-l) {
    padding-top: 35px;
  }

  @media (max-width: $width-tablet-l) {
    padding-left: 160px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
  }

  @media (max-width: 600px) {
    padding-top: 30px;
    padding-left: 15px;
  }

  @media (max-width: $width-tablet-s) {
    padding-top: 25px;
  }
}

.contacts__title {
  margin-bottom: 50px;
  color: $color-prime;

  @media (max-width: $width-desktop-l) {
    margin-bottom: 35px;
  }
}

.contacts__list {
  @include list-reset;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__logo,
.contacts__logo:not([href]):not([tabindex]) {
  height: auto;
  color: $color-second;
  background-color: transparent;
}

.contacts__row {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__stripe {
  color: #ffffff;
  z-index: 0;
}

.contacts__left {
  @media (max-width: 400px) {
    flex-basis: 100%;
    margin-bottom: 30px;
    max-width: none;
  }
}

.contacts__menu {
  @media (max-width: 400px) {
    flex-basis: 100%;
    max-width: none;
  }
}
