.containers {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  p {
    max-width: 780px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;

    @media (max-height: 767px) {
      margin-bottom: 10px;
      font-size: 10px;
    }
  }

  h1 {
    &::before {
      @media (max-height: 767px) {
        content: none;
      }
    }
  }
}

.containers__wrapper {
  @include container;
  @include scroll;

  position: relative;
  flex-grow: 1;
  padding-left: 200px;
  padding-top: 50px;

  &::after {
    bottom: 60px;
    color: #000000;
  }

  @media (max-height: 767px) {
    padding-top: 15px;
  }

  @media (max-width: $width-desktop-m) {
    padding-left: 180px;
  }
}

.containers__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  counter-reset: containers;
}

.containers__item {
  box-sizing: border-box;
  margin-right: 5%;
  width: 30%;

  &:last-child {
    margin-right: 0;
  }
}

.containers__image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containers__title {
  position: relative;

  margin-bottom: 0;
  margin-top: auto;
  height: 70px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-transform: uppercase;
  color: $color-prime;

  @media (max-height: 767px) {
    font-size: 14px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 55px;
    height: 3px;

    background-color: #000000;
  }
}

.containers__info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  min-height: 340px;

  @media (max-height: 767px) {
    margin-bottom: 10px;
    min-height: 280px;
  }
}

.containers__left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containers__right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  display: flex;
  width: 70px;

  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;

  background-color: $color-second;

  &::before {
    counter-increment: containers;
    content: "0"counter(containers);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    padding-top: 8px;
    height: 35px;

    font-weight: 700;
    font-size: 47px;
    line-height: 1;
    text-align: center;

    background-color: $color-prime;
  }

  b {
    display: block;
    text-align: center;
  }
}

.containers__value {
  margin-top: auto;
  padding-bottom: 10px;
  width: 100%;
}

.containers__desc {
  font-size: 12px;

  p {
    @media (max-height: 767px) {
      margin-bottom: 5px;
    }
  }

  ul {
    @include list-reset;

    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;

    @media (max-height: 767px) {
      margin-bottom: 5px;
      font-size: 10px;
    }

    li {
      position: relative;
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.4em;

        width: 8px;
        height: 8px;

        border: 2px solid $color-prime;
        border-radius: 50%;
      }
    }
  }
}

.containers__scroll {
  position: absolute;
  left: 50%;
  bottom: 60px;
  color: $color-prime;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}
