.counter {
  position: absolute;
  bottom: -50px;
  right: 15px;

  box-sizing: border-box;
  padding: 0 25px;
  width: 160px;
  height: 280px;

  @media (max-width: 400px) {
    width: 140px;
    height: 220px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;

    height: 80px;

    background-color: $color-prime;
    transform: translateY(-50%);

    @media (max-width: 400px) {
      height: 60px;
    }
  }
}

.counter__list {
  @include list-reset;
}

.counter__item {
  $duration: 0.3s;

  display: flex;
  align-items: center;

  color: #ffffff;
  font-weight: 700;
  font-size: 106px;
  line-height: 1;

  transition: font-size $duration,
    color $duration,
    opacity $duration;

  @media (max-width: 400px) {
    font-size: 76px;
  }

  &--next {
    font-size: 28px;
    color: $color-prime;

    @media (max-width: 400px) {
      font-size: 26px;
    }
  }

  &--prev {
    opacity: 0.2;
  }
}
