.desinfection {
  background-image: url("../../img/pan-11.png");
  background-repeat: no-repeat;
  background-size: 100% 118%;
  background-position: 0 -100px;
  box-shadow: 0 -5px 75px rgba(0, 0, 0, 0.7);

  @media (max-width: $width-desktop-m) {
    background-image: none;
  }
}

.desinfection__wrapper {
  @include container;
  @include scroll;

  position: relative;
  z-index: 10;
  padding-left: 200px;

  &::after {
    bottom: 0;
    color: #000000;
  }
}

.desinfection__title {
  margin-top: 50px;
  margin-bottom: 20px;
  color: $color-prime;
}

.desinfection__text {
  position: relative;
  padding-top: 20px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 55px;
    height: 3px;

    background-color: #000000;
  }
}

.desinfection__left {
  padding-right: 50px;
}

.desinfection__right {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  color: #6a6a6a;
}

.desinfection__prices {
  margin-bottom: 10px;
}

.desinfection__scroll {
  position: absolute;
  left: 50%;
  bottom: 60px;
  color: $color-second;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}
