.different {
  position: relative;
  z-index: 2;

  display: flex;

  color: #ffffff;

  background-image: url("../img/bg-collector.png"),
    url("../img/pan-4.png");
  background-repeat: no-repeat;
  background-size: 600px, cover;
  background-position: bottom 10% right 10%, 0 90%;

  @media (max-width: $width-desktop-m) {
    background-size: 450px, cover;
    background-position: bottom 10% right 0, 0 90%;
  }

  @media (max-width: $width-tablet-m) {
    background-size: 350px, cover;
  }

  @media (max-width: 700px) {
    background-position: bottom 8% right 0, 0 90%;
  }

  @media (max-width: $width-tablet-s) {
    background-position: bottom 6% right 0, 0 90%;
  }

  @media (max-width: 400px) {
    background-position: bottom 6% left 0, 0 90%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: url("../img/bg-wave-3.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

.different__wrapper {
  @include container;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding-top: 50px;
  padding-left: 200px;

  @media (max-width: $width-desktop-l) {
    padding-top: 35px;
    height: auto;
  }

  @media (max-width: $width-desktop-s) {
    padding-bottom: 50px;
  }

  @media (max-width: $width-tablet-l) {
    padding-left: 160px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
  }

  @media (max-width: 600px) {
    padding-left: 60px;
  }

  @media (max-width: 550px) {
    padding-left: 15px;
  }

  @media (max-width: $width-tablet-s) {
    padding-bottom: 30px;
  }

  @media (max-width: 400px) {
    padding-bottom: 25px;
  }
}

.different__title {
  margin-bottom: 100px;

  @media (max-width: $width-desktop-l) {
    margin-bottom: 35px;
  }

  @media (max-height: 767px) {
    margin-bottom: 4vh;
    font-size: 3vh;
  }
}

.different__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;

  @media (max-width: 700px) {
    display: block;
  }

  li {
    max-width: 350px;
    padding: 0 15px;

    @media (max-width: 700px) {
      max-width: none;
      padding: 0;
      max-height: none;
    }

    &:first-child {
      max-height: 550px;
      padding-left: 0;

      @media (max-height: 767px) {
        max-height: 450px;
      }

      @media (max-width: $width-desktop-s) {
        max-height: 450px;
      }

      @media (max-width: 700px) {
        max-height: none;
      }
    }

    &:last-child {
      padding-right: 0;
    }

    &:nth-child(2n) {
      @media (max-width: $width-desktop-s) {
        max-height: 350px;
      }

      @media (max-width: 700px) {
        max-height: none;
      }
    }
  }

  h3 {
    margin-bottom: 40px;
    max-height: 40px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;

    @media (max-height: 767px) {
      font-size: 14px;
    }

    @media (max-width: 700px) {
      margin-bottom: 20px;
    }

    &::after {
      content: "";

      display: block;
      margin-top: 20px;
      width: 55px;
      height: 3px;

      background-color: #ffffff;

      @media (max-width: 700px) {
        margin-top: 5px;
      }
    }
  }

  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  a {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #ffffff;
    text-align: right;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
      outline: none;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

.different__stripe {
  z-index: -2;
}

.different__scroll {
  position: absolute;
  left: 50%;
  bottom: 120px;
  color: #000000;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}

.different__note {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 360px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  color: #000000;

  @media (max-width: $width-desktop-s) {
    margin-bottom: 0;
    margin-top: 100px;
  }

  @media (max-width: 700px) {
    margin-top: 180px;
  }
}
