.features {
  padding-top: 30px;
  background-image: url("../img/pan-6.png");
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position: 0 -65px;
  box-shadow: 0 12px 84px rgba(0, 0, 0, 0.4);

  @media (max-width: $width-desktop-l) {
    background-image: none;
  }

  h3:not([class]) {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;
    color: $color-second;
    text-transform: uppercase;
  }

  p:not([class]) {
    font-size: 12px;
    line-height: 1.3;
  }
}

.features__wrapper {
  @include container;

  position: relative;
  padding-left: 200px;

  @media (max-width: $width-tablet-l) {
    padding-left: 160px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
  }

  @media (max-width: 600px) {
    padding-left: 15px;
  }

  &::after {
    content: "scroll";
    position: absolute;
    right: 0;
    bottom: -50px;

    font-weight: 300;
    font-size: 16px;
    line-height: 1;

    transform: rotate(90deg);
    color: #000000;
  }
}

.features__intro {
  margin-bottom: 25px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-height: 767px) {
    margin-bottom: 3vh;
  }
}

.features__title {
  display: block;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1;
  color: #000000;

  @media (max-height: 767px) {
    font-size: 2vh;
  }
}

.features__motto {
  display: block;
  font-size: 20px;
  line-height: 1;
  color: $color-prime;

  @media (max-height: 767px) {
    font-size: 2.7vh;
  }
}

.features__list {
  @include list-reset;

  display: flex;
  margin-left: -15px;
  margin-right: -15px;

  @media (max-width: $width-tablet-l) {
    flex-wrap: wrap;
  }

  li {
    box-sizing: border-box;
    padding: 0 15px;
    width: calc(100% / 5);
    max-height: 220px;

    @media (max-height: 767px) {
      max-height: 30vh;
    }

    @media (max-width: $width-tablet-l) {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  p {
    @media (max-height: 767px) {
      margin-bottom: 1vh;
    }
  }
}

.features__values {
  @media (max-width: $width-desktop-s) {
    margin-bottom: 30px;
  }
}

.features__content {
  @media (max-width: $width-desktop-s) {
    padding-bottom: 30px;
  }

  @media (max-width: 600px) {
    padding-bottom: 0;
  }
}
