.form__input {
  @include input-reset;
  outline: none;
}

.form__message {
  @include input-reset;

  box-sizing: border-box;
  padding: 5px;
  resize: none;
  height: 120px;
  outline: none;
  background-color: #ffffff;

  @media (max-height: 767px) {
    height: 90px;
  }

  &::placeholder {
    color: #bcbcbc;
    font-size: 10px;
    line-height: 1;
  }
}

.form__label {
  margin-bottom: 0;
  margin-right: 10px;

  font-size: 16px;
  line-height: 1;
  font-weight: 300;
  white-space: nowrap;
}

.form__field {
  margin-bottom: 20px;

  @media (max-height: 767px) {
    margin-bottom: 15px;
  }

  &--underline {
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: #000000;
    }
  }
}

.form__btn {
  @include btn;

  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
