.gallery {
  position: absolute;
  left: 0;

  &--about {
    .gallery__wrapper {
      display: flex;
      padding-right: 200px;
    }

    .gallery__pagination {
      margin-left: auto;
    }

    .gallery__list {
      height: 400px;
      max-height: 40vh;
    }

    .gallery__item {
      display: flex;
      flex-direction: column;
    }

    .gallery__image {
      flex-grow: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  &--double {
    .gallery__item {
      flex-direction: row;
    }

    .gallery__image {
      &:first-child {
        max-width: calc(100% / 3);
      }

      &:last-child {
        background-position: bottom;
      }
    }
  }

  &--triple {
    .gallery__item {
      flex-direction: row;
    }

    .gallery__image {
      width: calc(100% / 3);
    }
  }

  &--landscaping {
    .gallery__list {
      @media (max-height: 767px) {
        max-height: 35vh;
      }
    }

    .gallery__text {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.3;
      color: $color-prime;
    }
  }
}

.gallery__wrapper {
  @include container;
}

.gallery__list {
  @include list-reset;
}

.gallery__text {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 450px;
  max-height: 85px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.2;
  color: #000000;

  @media (max-width: 400px) {
    max-height: 80px;
  }
}

.gallery__pagination {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.gallery__bullet {
  box-sizing: border-box;
  display: block;
  margin-right: 20px;
  width: 10px;
  height: 10px;

  border: 3px solid #7a7a7a;
  border-radius: 50%;

  transition: border-color 0.2s;

  @media (max-width: 400px) {
    margin-right: 10px;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $color-prime;
    outline: none;
    cursor: pointer;
  }

  &:active {
    opacity: 0.7;
  }

  &--active {
    width: 30px;
    height: 18px;

    border-color: $color-prime;
    border-radius: 10px;
    border-width: 4px;
  }
}
