.jobs {
  &--wave-bg {
    background-image: url("../img/pan-9.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;

    .jobs__list {
      > li {
        &::after {
          color: #ffffff;
        }
      }
    }
  }
}

.jobs__wrapper {
  @include container;

  position: relative;
  padding-top: 50px;
  padding-left: 200px;
  height: 100%;

  @media (max-width: $width-desktop-m) {
    padding-top: 30px;
  }
}

.jobs__title {
  margin-bottom: 50px;
  color: $color-prime;

  @media (max-width: $width-desktop-m) {
    margin-bottom: 20px;
  }
}

.jobs__list {
  @include list-reset;

  position: relative;
  z-index: 1;
  display: flex;

  > li {
    position: relative;
    box-sizing: border-box;
    padding-right: 90px;
    width: calc(100% / 3);

    @media (max-width: $width-desktop-m) {
      padding-right: 15px;
    }

    &::after {
      counter-increment: list;
      content: "0"counter(list);

      position: absolute;
      top: 0;
      right: 50px;
      z-index: -1;

      font-weight: 700;
      font-size: 177px;
      line-height: 1;
      color: #e3e3e3;
      opacity: 0.6;

      @media (max-width: $width-desktop-m) {
        right: 15px;
      }

      @media (max-height: 767px) {
        opacity: 0.9;
      }

      @media (max-width: $width-tablet-l) {
        font-size: 180px;
      }

      @media (max-width: $width-tablet-m) {
        top: -35px;
        font-size: 140px;
      }
    }
  }

  h3 {
    position: relative;

    box-sizing: content-box;
    margin-bottom: 10px;
    padding-bottom: 10px;
    min-height: 30px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;

    @media (max-width: $width-desktop-m) {
      min-height: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 55px;
      height: 3px;

      background-color: #000000;
    }
  }

  h4 {
    margin: 0;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.3;
  }

  section,
  div {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 10px;
    line-height: 1.5;
  }

  div {
    font-weight: 700;
  }

  ul {
    @include list-reset;
  }
}

.jobs__links {
  text-align: right;

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}

.jobs__more {
  padding: 5px 15px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase;

  background-color: $color-prime;
  border: 1px solid $color-prime;

  transition: all 0.2s;

  &:hover,
  &:focus,
  &:active {
    color: $color-prime;
    text-decoration: none;
    background-color: transparent;
  }

  &:active {
    opacity: 0.7;
  }
}
