.licenses {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  background-image: url("../img/pan-7.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 80%;
}

.licenses__wrapper {
  @include container;

  position: relative;
  z-index: 1;

  flex-grow: 1;
  padding-left: 200px;
  padding-top: 70px;

  @media (max-width: $width-desktop-l) {
    padding-bottom: 50px;
  }

  @media (max-height: 767px) {
    padding-top: 15px;
  }

  @media (max-width: $width-tablet-l) {
    padding-left: 140px;
  }

  @media (max-width: 600px) {
    padding-top: 50px;
    padding-left: 15px;
  }

  @media (max-width: $width-tablet-m) {
    padding-top: 30px;
  }

  &::after {
    content: "scroll";
    position: absolute;
    right: 0;
    bottom: 30px;

    font-weight: 300;
    font-size: 16px;
    line-height: 1;
    color: #000000;

    transform: rotate(90deg);
  }
}

.licenses__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @media (max-width: $width-desktop-l) {
    margin-bottom: 15px;
  }

  @media (max-width: $width-tablet-m) {
    display: block;
  }
}

.licenses__title {
  position: relative;
  font-weight: 700;
  font-size: 33px;
  line-height: 1;
  color: $color-second;

  @media (max-width: $width-tablet-l) {
    margin-bottom: 0;
  }

  @media (max-width: $width-tablet-m) {
    margin-bottom: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 50px;
    height: 5px;

    background-color: #ffffff;
    transform: translate(calc(-100% - 40px), -50%);
  }
}

.licenses__note {
  margin: 0;
  max-width: 450px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.15;

  @media (max-width: $width-desktop-l) {
    max-width: 60%;
  }

  @media (max-width: $width-tablet-m) {
    max-width: none;
  }
}

.licenses__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  li {
    flex-shrink: 0;
    margin-bottom: 10px;
    width: calc(100% / 4);

    @media (max-width: $width-desktop-l) {
      max-height: 245px;
    }

    @media (max-height: 767px) {
      max-height: 220px;
    }

    @media (max-width: $width-tablet-l) {
      width: calc(100% / 3);
    }

    @media (max-width: $width-tablet-s) {
      width: 50%;
    }
  }

  a {
    @include link-reset;

    display: block;
    height: 100%;
  }

  img {
    margin: 0 auto;
    max-height: 100%;
  }
}

.licenses__stripe {
  bottom: 20%;
}

.licenses__scroll {
  bottom: 30px;
}
