.locale__link {
  padding: 40px 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #8e8e8e;
  text-transform: uppercase;

  @media (max-width: $width-tablet-l) {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @media (max-width: $width-tablet-s) {
    padding-left: 5px;
    padding-right: 5px;
  }

  &.active {
    color: $color-prime;
  }

  &:hover,
  &:focus,
  &:active {
    color: rgba(0, 0, 0, 0.7);
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}
