.location__link {
  display: block;

  &--active,
  &:hover,
  &:focus,
  &:active {
    color: #000000;
    text-decoration: none;

    .location__title {
      text-decoration: none;
      color: $color-prime;
    }

    .location__info {
      text-decoration: underline;
    }
  }
}

.location__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: $color-second;
  text-transform: uppercase;
  transition: color 0.2s;

  @media (max-width: $width-desktop-s) {
    font-size: 14px;
  }

  @media (max-width: $width-tablet-m) {
    font-size: 12px;
  }
}

.location__info {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
