.logo {
  display: block;
  width: 160px;
  height: 150px;

  line-height: 140px;
  vertical-align: middle;
  text-align: center;

  background-color: $color-prime;

  @media (max-width: $width-tablet-l) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 120px;
  }

  @media (max-width: $width-tablet-m) {
    height: 100px;
  }

  @media (max-width: $width-tablet-s) {
    height: 70px;
  }
}

.logo__icon {
  color: inherit;

  @media (max-width: $width-tablet-l) {
    max-width: 80%;
    height: auto;
  }
}
