.main-nav {
  margin-right: auto;
  padding: 0;

  @media (max-width: $width-tablet-l) {
    order: 2;
    margin-right: 0;
  }

  @media (max-width: $width-tablet-l) {
    flex-grow: 1;
    max-width: 300px;
  }

  @media (max-width: $width-tablet-s) {
    flex-grow: 0;
  }

  .main-nav__item {
    .main-nav__link {
      @media (min-width: $width-tablet-l) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @media (max-width: $width-tablet-l) {
        padding: 20px 15px;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
      }

      &:active {
        opacity: 0.7;
      }
    }

    &.active {
      & > .main-nav__link {
        color: $color-prime;
      }
    }
  }
}

.main-nav__link {
  padding: 40px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #8e8e8e;
  text-transform: uppercase;
}

.main-nav__brand {
  position: relative;
  align-self: stretch;
  width: 160px;
  background-color: $color-prime;

  @media (max-width: $width-tablet-l) {
    width: 120px;
  }

  @media (max-width: $width-tablet-m) {
    width: 100px;
  }

  @media (max-width: $width-tablet-s) {
    margin-right: 10px;
    width: 70px;
  }

  @media (max-width: 360px) {
    margin-right: 5px;
  }
}

.main-nav__logo,
.main-nav__logo:not([href]):not([tabindex]) {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
}

.main-nav__collapse {
  @media (max-width: $width-tablet-l) {
    position: absolute;
    top: calc(100% + 13px);
    left: 0;
    right: -15px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: 550px) {
    left: auto;
    width: 50vw;
  }

  @media (max-width: 480px) {
    left: auto;
    width: 100vw;
  }
}

.main-nav__toggler {
  @media (max-width: $width-tablet-l) {
    margin-left: auto;
  }

  @media (max-width: $width-tablet-s) {
    padding: 5px;
  }
}
