.map {
  position: relative;
  background-color: lightyellow;

  @media (max-width: $width-tablet-m - 1) {
    height: 200px;
  }
}

.map__container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
