.menu {
  > * {
    @media (max-width: $width-desktop-m - 1) {
      margin-bottom: 30px;
    }
  }
}

.menu__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: $color-prime;
  text-transform: uppercase;
}

.menu__list {
  @include list-reset;
}

.menu__item {
  margin-bottom: 5px;
}

.menu__link {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;
  color: $color-second;

  &:hover,
  &:focus,
  &:active {
    color: $color-second;
  }
}
