.mission {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mission__wrapper {
  @include container;

  padding-top: 70px;
  padding-left: 200px;

  @media (max-height: 767px) {
    padding-top: 15px;
  }

  @media (max-width: $width-tablet-l) {
    padding-left: 160px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
  }

  @media (max-width: 600px) {
    padding-top: 40px;
    padding-left: 15px;
  }

  @media (max-width: $width-tablet-s) {
    padding-top: 30px;
  }
}

.mission__title {
  position: relative;
  margin-bottom: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 50px;
    height: 5px;

    background-color: #000000;
    transform: translate(calc(-100% - 40px), -50%);
  }
}

.mission__content {
  justify-content: space-between;
  margin-bottom: 20px;
  counter-reset: list;

  @media (max-width: $width-desktop-s) {
    margin-bottom: 40px;
  }

  @media (max-width: $width-tablet-l) {
    margin-bottom: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.3;
    color: #000000;
  }
}

.mission__column {
  position: relative;
  max-width: 380px;
  height: 200px;

  @media (max-height: 767px) {
    height: 27vh;
  }

  @media (max-width: $width-tablet-l) {
    margin-bottom: 15px;
    max-width: none;
    width: auto;
    height: auto;
  }

  &::before {
    counter-increment: list;
    content: "0"counter(list);
    position: absolute;
    top: -30px;
    left: 0;
    z-index: -1;

    font-weight: 700;
    font-size: 248px;
    line-height: 1;
    color: #ebebeb;

    @media (max-width: $width-tablet-l) {
      content: none;
    }
  }
}

.mission__features {
  flex-grow: 1;

  @media (max-height: 767px) {
    padding-top: 15px;
  }

  @media (max-width: $width-desktop-s) {
    padding-top: 20px;
  }

  @media (max-width: $width-tablet-l) {
    padding-top: 30px;
  }
}

.mission__stripe {
  top: 24%;

  @media (max-width: $width-tablet-l) {
    top: 12%;
  }

  @media (max-width: $width-tablet-m) {
    top: 10%;
  }
}

.mission__note {
  position: relative;
  max-width: 340px;
  font-size: 12px;
  line-height: 1.3;

  &::before {
    content: "";

    display: block;
    margin-bottom: 15px;
    width: 55px;
    height: 3px;

    background-color: currentColor;
  }

  @media (max-width: $width-desktop-l) {
    display: none;
  }
}

.mission__scroll {
  @media (max-width: $width-desktop-l) {
    display: none;
  }
}
