.news {
  flex-grow: 1;
  background-image: url("../../img/pan-10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;

  h1 {
    position: relative;
    padding: 30px 0;
    font-size: 50px;
    line-height: 1;
    color: #000000;

    @media (max-width: $width-desktop-m) {
      margin-left: 30px;
      margin-top: 45px;
      padding: 20px 0;
      font-size: 32px;
    }

    @media (max-height: 767px) {
      margin-left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 160px;
      height: 5px;
      background-color: #000000;
    }
  }

  &--planning {
    background-image: url("../../img/pan-14.png");

    h1 {
      max-width: 330px;
      font-size: 33px;
      line-height: 1.1;
      color: $color-prime;

      @media (max-height: 767px) {
        font-size: 16px;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;
      text-transform: uppercase;

      @media (max-height: 767px) {
        font-size: 14px;
      }
    }

    ul {
      @include list-reset;

      margin-bottom: 20px;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.3;
      text-transform: uppercase;

      li {
        position: relative;
        margin-bottom: 5px;
        padding-left: 15px;

        @media (max-height: 767px) {
          font-size: 10px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0.5em;
          left: 0;

          width: 8px;
          height: 8px;

          border: 2px solid $color-prime;
          border-radius: 50%;

          @media (max-height: 767px) {
            top: 0.25em;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    p {
      font-size: 12px;
      line-height: 1.3;

      @media (max-height: 767px) {
        margin-bottom: 10px;
      }
    }
  }
}

.news__wrapper {
  @include container;
  @include scroll;

  position: relative;
  padding-top: 50px;

  @media (max-height: 767px) {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
  }

  &::after {
    bottom: 60px;
    color: #000000;
  }
}

.news__content {
  padding-left: 200px;

  @media (max-height: 767px) {
    padding-left: 30px;
  }
}

.news__list {
  @include list-reset;
  counter-reset: list;

  li {
    position: relative;
    z-index: 1;

    margin-bottom: 20px;
    height: 110px;

    @media (max-width: $width-desktop-m) {
      height: auto;
    }

    @media (max-height: 767px) {
      margin-bottom: 15px;
    }

    &::after {
      counter-increment: list;
      content: "0"counter(list);

      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      font-weight: 700;
      font-size: 117px;
      line-height: 1;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  a {
    @include link-reset;
    display: block;

    &:hover,
    &:focus,
    &:active {
      time {
        &::after {
          width: 100%;
          background-color: $color-prime;
        }
      }
    }
  }

  time {
    position: relative;

    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1;

    @media (max-height: 767px) {
      margin-bottom: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 55px;
      height: 3px;

      background-color: #000000;

      transition: all 0.2s;
    }
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
  }

  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;

    &:last-child {
      margin: 0;
    }
  }
}

.news__detail {
  @media (max-height: 767px) {
    margin-left: 1%;
  }

  > ul {
    li {
      position: relative;
      z-index: 1;
    }
  }

  ul {
    @include list-reset;
  }

  h2 {
    font-size: 16px;
    line-height: 1.3;

    &::before {
      content: none;
    }
  }

  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
  }

  ol {
    margin-bottom: 15px;
    padding-left: 1em;

    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
  }
}

.news__stripe {
  top: 32%;
  z-index: 0;

  @media (max-height: 767px) {
    top: 40%;
  }
}

.news__count {
  position: absolute;
  top: -0.5em;
  right: 0;
  z-index: -1;

  font-weight: 700;
  font-size: 221px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3);
}

.news__tab {
  &--active {
    time {
      &::after {
        width: 100%;
        background-color: $color-prime;
      }
    }
  }
}

.news__scroll {
  position: absolute;
  left: 50%;
  bottom: 60px;
  color: #000000;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}
