.offers {
  position: relative;
  height: 100vh;

  background-image: url("../img/pan-2.png");
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position: 0 -66px;
  box-shadow: 0 -5px 75px rgba(0, 0, 0, 0.7);

  @media (max-width: $width-desktop-m) {
    height: auto;
    background-image: none;
  }

  &--about {
    background-color: #007847;
    background-image: url("../img/pan-5.png");

    @media (max-width: $width-desktop-s) {
      background-image: none;
      background-color: #ffffff;
    }

    .offers__title {
      max-width: 530px;
      font-size: 25px;
      line-height: 1.15;

      @media (max-height: 767px) {
        font-size: 3vh;
      }

      @media (max-width: $width-tablet-m) {
        font-size: 20px;
        line-height: 1.3;
      }

      &::before {
        top: 0.5em;
        transform: translate(calc(-100% - 40px));
      }
    }

    .offers__slider {
      transform: translateY(-100px);

      @media (max-width: $width-desktop-s) {
        transform: translateY(0);
      }
    }

    .offers__scroll {
      bottom: 60px;
      color: $color-second;
    }

    .offers__wrapper {
      @media (max-width: $width-desktop-s) {
        padding-bottom: 50px;
      }

      &::after {
        bottom: 60px;
        color: #000000;
      }
    }

    .offers__gallery {
      max-height: 500px;

      @media (max-width: $width-laptop) {
        max-height: none;
      }
    }

    .offers__counter {
      bottom: -95px;

      @media (max-width: $width-desktop-s) {
        bottom: -60px;
      }

      @media (max-width: $width-tablet-m) {
        bottom: -40px;
      }
    }

    .offers__item {
      position: relative;
      padding-left: 15px;
      font-weight: 400;
      font-size: 10px;
      line-height: 1.5;
      color: #000000;

      &::before {
        content: "";
        position: absolute;
        top: 0.4em;
        left: 0;

        box-sizing: border-box;
        width: 7px;
        height: 7px;

        border: 2px solid $color-prime;
        border-radius: 50%;
      }
    }
  }

  &--landscaping {
    background-color: #ffffff;
    background-image: url("../img/pan-13.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 -40px;
    box-shadow: none;

    @media (max-width: $width-desktop-m) {
      background-image: none;
      background-color: transparent;
    }

    .offers__slider {
      transform: translateY(-75px);
    }

    .offers__gallery {
      ul {
        max-height: none;
      }
    }

    .offers__desc {
      display: flex;
      flex-direction: column;

      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;

      p {
        margin-bottom: 5px;

        &:last-of-type {
          margin-bottom: 30px;
        }
      }

      ul {
        position: relative;
        padding-top: 15px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;

          width: 55px;
          height: 3px;

          background-color: #000000;
        }

        li {
          font-size: 12px;
        }
      }
    }

    .offers__scroll {
      color: $color-prime;
    }
  }

  &--equipment {
    background-image: url("../../img/pan-18.png");
    background-position: 0 -180px;

    .offers__desc {
      ul {
        margin-bottom: 15px;
      }

      li {
        position: relative;
        padding-left: 15px;
        font-size: 14px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.35em;

          width: 8px;
          height: 8px;

          border: 2px solid $color-prime;
          border-radius: 50%;
        }
      }
    }
  }
}

.offers__wrapper {
  @include container;
  @include scroll;

  position: relative;
  padding-top: 50px;
  padding-left: 200px;
  height: 100%;

  @media (max-width: $width-desktop-l) {
    padding-top: 35px;
  }

  @media (max-width: $width-desktop-m) {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  @media (max-width: $width-tablet-l) {
    padding-left: 160px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
  }

  @media (max-width: 600px) {
    padding-left: 60px;
  }

  @media (max-width: 550px) {
    padding-left: 15px;
  }

  @media (max-width: 480px) {
    padding-top: 25px;
  }

  @media (max-height: 767px) {
    padding-bottom: 3vh;
    padding-top: 3vh;
  }
}

.offers__title {
  margin-bottom: 50px;
  color: $color-prime;

  @media (max-width: $width-desktop-l) {
    margin-bottom: 35px;
  }

  @media (max-height: 767px) {
    margin-bottom: 4vh;
    font-size: 3vh;
  }

  @media (max-width: 600px) {
    margin-bottom: 25px;
  }

  @media (max-width: $width-tablet-s) {
    margin-bottom: 20px;
  }
}

.offers__services {
  position: relative;
  margin-bottom: 70px;

  @media (max-height: 767px) {
    margin-bottom: 8vh;
  }

  @media (max-width: $width-tablet-m) {
    margin-bottom: 50px;
  }

  @media (max-width: 600px) {
    margin-bottom: 30px;
  }
}

.offers__goods {
  position: relative;
}

.offers__desc {
  @media (max-width: $width-tablet-l) {
    margin-bottom: 30px;
  }

  .offers__footer {
    position: relative;
    margin-top: auto;
    padding-top: 15px;
    font-size: 12px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 55px;
      height: 3px;

      background-color: #000000;
    }

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h3 {
    position: absolute;
    top: 50%;
    left: -172px;

    font-weight: 700;
    font-size: 25px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #ffffff;

    transform: translateY(-50%) rotate(-90deg);

    @media (max-width: $width-desktop-m) {
      font-size: 20px;
    }

    @media (max-width: $width-tablet-l) {
      left: -140px;
    }

    @media (max-width: $width-tablet-m) {
      left: -130px;
    }

    @media (max-width: 600px) {
      position: static;
      margin-bottom: 15px;
      color: $color-second;
      font-size: 16px;
      transform: none;
    }
  }

  ul {
    @include list-reset;
  }

  li {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #373737;
  }

  svg {
    margin-right: 20px;
    color: #007d4e;

    @media (max-height: 767px) {
      width: 50px;
      height: auto;
    }

    @media (max-width: $width-desktop-m) {
      margin-right: 10px;
    }

    @media (max-width: $width-desktop-s) {
      width: 50px;
    }
  }
}

.offers__slider {
  position: relative;
  align-self: flex-start;
  width: 770px;
  transform: translateY(-85px);

  @media (max-width: $width-desktop-l) {
    transform: translateY(0);
  }

  @media (max-width: $width-tablet-l) {
    margin-bottom: 15px;
    width: auto;
    max-width: 100%;
  }
}

.offers__scroll {
  color: #ffffff;
}

.offers__gallery {
  @media (max-width: $width-tablet-l) {
    position: static;
  }
}

.offers__pagination {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  transform: translateY(200%);
}

.offers__note {
  position: relative;
  padding-top: 15px;
  font-size: 12px;
  line-height: 1.3;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 55px;
    height: 3px;

    background-color: #000000;
  }
}

.offers__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
