.page-header {
  z-index: 10;
  background-color: #ffffff;
}

.page-header__wrapper {
  @include container;

  display: flex;
  align-items: center;
  padding-left: 0;
}

.page-header__locale {
  margin-right: 90px;

  @media (max-width: $width-tablet-s) {
    margin-right: auto;
  }
}

.page-header__links {
  display: flex;

  @media (max-width: $width-tablet-l) {
    margin-right: auto;
  }
}

.page-header__link {
  color: #434343;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  &:hover,
  &:focus,
  &:active {
    color: #434343;
    text-decoration: underline;
    outline: none;
  }
}
