.page-title {
  position: relative;
  margin-bottom: 5px;

  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 1;
  color: $color-prime;
  text-transform: uppercase;

  @media (max-height: 767px) {
    font-size: 4vh;
  }

  @media (max-width: $width-tablet-m) {
    font-size: 26px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;

    width: 50px;
    height: 5px;

    background-color: #ffffff;
    transform: translate(calc(-100% - 40px), -50%);

    @media (max-width: 600px) {
      content: none;
    }
  }
}
