.partners__wrapper {
  @include container;
  padding-left: 200px;

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
  }

  @media (max-width: 600px) {
    padding-left: 60px;
  }

  @media (max-width: 550px) {
    padding-left: 15px;
  }
}

.partners__list {
  @include list-reset;
}

.partners__slider {
  height: 90px;
  background-color: #009b1f;

  @media (max-height: 767px) {
    height: 11vh;
  }
}
