.prices {
  padding: 100px 30px;
  background-color: rgb(247, 185, 46);
  background-image: url("../../img/bg-prices.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $width-desktop-m) {
    padding: 30px;
  }
}

.prices__table {
  width: 100%;

  th {
    width: 50%;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
  }

  td {
    padding: 10px 0;
    font-weight: 700;
    font-size: 62px;
    line-height: 1;
    color: #ffffff;

    @media (max-width: $width-desktop-m) {
      padding: 5px 0;
      font-size: 52px;
    }
  }
}
