.promo {
  flex-grow: 1;
  display: flex;

  &--about {
    display: block;

    p:not([class]) {
      margin-bottom: 25px;
      font-weight: 300;

      @media (max-width: $width-desktop-l) {
        margin-bottom: 20px;
      }

      @media (max-height: 767px) {
        margin-bottom: 2vh;
        font-size: 2.3vh;
      }

      @media (max-width: $width-tablet-m) {
        font-size: 14px;
      }
    }

    > .promo__wrapper {
      @include scroll;

      z-index: 10;

      &::after {
        bottom: 0;
        color: #000000;
      }
    }

    .promo__stripe {
      top: 48%;

      > *::after {
        content: none;
      }
    }

    .promo__scroll {
      bottom: 60px;
    }
  }

  &--jobs {
    position: relative;
    padding-top: 37vw;

    > .promo__wrapper {
      @include scroll;

      z-index: 10;

      &::after {
        bottom: 100px;
        color: #000000;
        transform: rotate(90deg) translate(-50%);
      }
    }
  }

  &--disposal {
    .promo__slogan {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &--cleaning {
    .promo__slogan {
      margin-bottom: 20px;
    }
  }

  &--garbage {
    .promo__right {
      @media (max-height: 767px) {
        max-height: 150px;
      }

      p:not([class]) {
        color: #000000;
      }
    }

    h1 {
      margin-bottom: 20px;
    }
  }

  &--landscaping {
    background-color: #eaeaea;
    background-image: url("../../img/pan-11.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;

    @media (max-width: $width-desktop-m) {
      background-image: none;
      background-color: transparent;
    }

    .promo__slogan {
      margin-top: 10px;

      @media (max-width: $width-desktop-m) {
        margin-top: 0;
      }

      @media (max-height: 767px) {
        margin-bottom: 2vh;
      }
    }

    .promo__start {
      @media (max-height: 767px) {
        margin-bottom: 0;
      }
    }

    .promo__right {
      > ul {
        > li {
          @media (max-height: 767px) {
            margin-bottom: 0;
          }
        }
      }
    }

    p {
      font-size: 12px;
      line-height: 1.3;
    }
  }

  &--territory {
    .promo__left {
      h3 {
        color: #000000;

        @media (max-height: 767px) {
          margin-bottom: 5px;
        }
      }
    }

    h1 {
      margin-bottom: 25px;

      @media (max-height: 767px) {
        margin-bottom: 15px;
      }
    }

    p:not([class]) {
      margin-bottom: 25px;
      font-weight: 300;

      @media (max-width: $width-desktop-l) {
        margin-bottom: 20px;
      }

      @media (max-height: 767px) {
        margin-bottom: 2vh;
        font-size: 1.6vh;
      }

      @media (max-width: $width-tablet-m) {
        font-size: 14px;
      }
    }
  }
}

.promo__banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  background-image: url("../img/pan-1.png");
  background-repeat: no-repeat;
  background-size: 1920px;
  background-position: top;

  @media (max-width: $width-desktop-l) {
    background-size: 100%;
  }

  @media (max-width: 550px) {
    background-size: 550px;
  }

  // @media (max-width: $width-tablet-m) {
  //   background-size: 768px;
  // }

  .promo__wrapper {
    @include scroll;

    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translate(-50%);
  }
}

.promo__wrapper {
  @include container;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 200px;

  @media (max-width: $width-tablet-l) {
    padding-left: 160px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
  }

  @media (max-width: 650px) {
    padding-left: 120px;
  }

  @media (max-width: 600px) {
    padding-left: 60px;
  }

  @media (max-width: 550px) {
    padding-left: 50px;
  }

  @media (max-width: $width-tablet-s) {
    padding-left: 15px;
  }
}

.promo__title {
  display: block;
  margin-bottom: 150px;

  font-weight: 700;
  font-size: 50px;
  line-height: 1.1;
  color: #ffffff;

  @media (max-width: $width-desktop-m) {
    margin-top: 23%;
    margin-bottom: 12%;
    font-size: 42px;
  }

  @media (max-width: $width-desktop-s) {
    font-size: 38px;
  }

  @media (max-width: $width-tablet-l) {
    margin-top: 25%;
    margin-bottom: 15%;
    font-size: 32px;
  }

  @media (max-width: 850px) {
    margin-top: 24%;
    font-size: 30px;
  }

  @media (max-width: $width-tablet-m) {
    margin-top: 21%;
    font-size: 26px;
  }

  @media (max-width: 650px) {
    margin-top: 19%;
    font-size: 24px;
  }

  @media (max-width: 600px) {
    margin-top: 17%;
  }

  @media (max-width: 550px) {
    margin-top: 75px;
    font-size: 22px;
  }

  @media (max-width: $width-tablet-s) {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 20px;
  }

  @media (max-height: 767px) {
    margin-bottom: 20vh;
  }
}

.promo__text {
  margin-bottom: 50px;
  max-width: 420px;
  height: 145px;

  font-weight: 300;
  font-size: 20px;
  line-height: 1.2;
  color: #5f5f5f;

  @media (max-width: $width-desktop-m) {
    font-size: 18px;
  }

  @media (max-width: $width-desktop-s) {
    margin-bottom: 30px;
  }

  @media (max-width: $width-tablet-l) {
    max-width: 360px;
    font-size: 16px;
  }

  @media (max-width: $width-tablet-m) {
    max-width: 300px;
    height: 120px;
    font-size: 14px;
  }
}

.promo__scroll {
  position: absolute;
  left: 50%;
  bottom: 120px;
  color: $color-prime;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}

.promo__slider {
  position: relative;
  align-self: stretch;
  max-height: 40%;

  @media (max-width: $width-tablet-m) {
    margin-bottom: 50px;
  }
}

.promo__gallery {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.promo__counter {
  bottom: -60px;

  @media (max-width: $width-tablet-m) {
    bottom: -40px;
  }
}

.promo__slogan {
  margin-bottom: 50px;

  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #007e4a;

  @media (max-width: $width-desktop-l) {
    margin-bottom: 30px;
  }

  @media (max-height: 767px) {
    margin-bottom: 3vh;
    font-size: 3vh;
  }

  @media (max-width: $width-tablet-m) {
    font-size: 18px;
  }
}

.promo__row {
  @media (max-width: $width-desktop-s) {
    margin-bottom: 30px;
  }
}

.promo__start {
  > h3 {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
  }

  > p {
    br {
      @media (max-height: 767px) {
        display: none;
      }
    }
  }
}

.promo__header {
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background-image: url("../img/pan-8.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;

  .promo__wrapper {
    margin-top: 15vh;
    padding-left: 0;
  }

  h1 {
    position: relative;
    padding: 30px 0;
    font-size: 50px;
    line-height: 1;
    color: #000000;

    @media (max-width: $width-desktop-m) {
      margin-left: 30px;
      font-size: 38px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 160px;
      height: 5px;
      background-color: $color-prime;
    }
  }
}

.promo__list {
  @include list-reset;

  margin-bottom: auto;

  li {
    position: relative;

    margin-bottom: 10px;
    padding-left: 20px;

    font-weight: 700;
    font-size: 12px;
    line-height: 1.3;
    color: $color-second;
    text-transform: uppercase;

    &::before {
      content: "";
      position: absolute;
      top: 0.25em;
      left: 0;

      width: 8px;
      height: 8px;

      border: 3px solid $color-prime;
      border-radius: 50%;
    }
  }
}

.promo__left {
  h3 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: $color-prime;
    text-transform: uppercase;
  }

  ul {
    @include list-reset;
  }

  > ul {
    > li {
      position: relative;

      margin-bottom: 5px;
      padding-left: 15px;

      font-weight: 400;
      font-size: 11px;
      line-height: 1.5;
      text-transform: uppercase;
      color: #000000;

      &::before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 0;

        box-sizing: border-box;
        width: 8px;
        height: 8px;

        border: 2px solid $color-prime;
        border-radius: 50%;
        // transform: translateY(-50%);
      }
    }
  }

  li {
    text-transform: none;
  }
}

.promo__right {
  p:not([class]) {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
    color: #797979;
  }

  ul {
    @include list-reset;
  }

  > ul {
    > li {
      position: relative;

      margin-bottom: 5px;
      padding-left: 15px;

      font-weight: 400;
      font-size: 11px;
      line-height: 1.5;
      text-transform: uppercase;
      color: #000000;

      &::before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 0;

        box-sizing: border-box;
        width: 8px;
        height: 8px;

        border: 2px solid $color-prime;
        border-radius: 50%;
        // transform: translateY(-50%);
      }
    }
  }
}

.promo__services {
  @include list-reset;
  display: flex;

  li {
    position: relative;

    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 90px;
    width: calc(100% / 3);

    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;

    @media (max-height: 767px) {
      max-height: 140px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;

      width: 55px;
      height: 3px;

      background-color: #000000;
    }
  }
}

.promo__footer {
  margin-left: auto;
  margin-right: 50px;

  p:not([class]) {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.3;
    color: #000000;
    text-transform: uppercase;
  }

  a {
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: #009051;
  }
}

.promo__content {
  max-width: 750px;

  @media (max-height: 767px) {
    max-width: none;
  }

  h1 {
    margin-bottom: 20px;
  }

  p:not([class]) {
    @media (max-height: 767px) {
      font-size: 2vh;
    }
  }
}
