.questions {
  flex-grow: 1;
  background-image: url("../../img/pan-19.png");
  background-repeat: no-repeat;
  background-position: -100px 0;

  h1 {
    position: relative;
    padding: 30px 0;
    font-size: 50px;
    line-height: 1;
    color: #000000;

    @media (max-width: $width-desktop-m) {
      margin-left: 30px;
      margin-top: 45px;
      padding: 20px 0;
      font-size: 32px;
    }

    @media (max-height: 767px) {
      margin-left: 0;
      margin-top: 0;

      padding: 40px 0;

      font-size: 24px;
      line-height: 1.2;
    }

    &::before {
      content: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 160px;
      height: 5px;
      background-color: #000000;

      @media (max-height: 767px) {
        content: none;
      }
    }
  }
}

.questions__wrapper {
  @include container;
  @include scroll;

  position: relative;
  z-index: 1;
  padding-top: 50px;

  @media (max-height: 767px) {
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }

  &::after {
    bottom: 60px;
    color: #000000;
  }
}

.questions__content {
  padding-left: 200px;

  @media (max-height: 767px) {
    padding-left: 70px;
  }

  > ul {
    display: flex;

    > li {
      margin-right: 5%;
      width: calc(100% / 3);

      @media (max-height: 767px) {
        margin-right: 3%;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  ul {
    @include list-reset;
  }

  h3 {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 10px;
    min-height: 85px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;

    @media (max-height: 767px) {
      font-size: 14px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 55px;
      height: 2px;

      background-color: #000000;
    }
  }

  p,
  ol {
    font-size: 14px;
    line-height: 1.15;
    font-weight: 300;

    @media (max-height: 767px) {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }

  ol {
    padding-left: 15px;
  }
}

.questions__stripe {
  top: 37%;
  z-index: 0;
  color: #ffffff;
}

.questions__scroll {
  bottom: 60px;
  color: #000000;
}
