.services {
  display: flex;
}

.services__wrapper {
  @include container;
  @include scroll;

  position: relative;
  flex-grow: 1;
  padding-top: 50px;
  padding-left: 200px;

  &::after {
    bottom: 60px;
    color: #000000;
  }
}

.services__list {
  @include list-reset;

  p,
  ul {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
    color: #000000;
  }

  ul {
    @include list-reset;

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 15px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;

        width: 7px;
        height: 7px;

        border: 2px solid $color-prime;
        border-radius: 50%;
      }
    }
  }
}

.services__item {
  padding-right: 50px;
}

.services__title {
  position: relative;

  margin-bottom: 15px;
  padding-bottom: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: $color-prime;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 55px;
    height: 3px;

    background-color: #000000;
  }
}

.services__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  width: auto;
  height: 420px;

  @media (max-height: 767px) {
    height: 210px;
  }

  img {
    // @include object-fit(cover, center);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.services__scroll {
  position: absolute;
  left: 50%;
  bottom: 60px;
  color: $color-second;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}
