.sponsors {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: $color-second;

  p {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;
    max-height: 110px;
  }

  b {
    font-weight: 700;
  }

  ul {
    @include list-reset;

    max-height: 140px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    text-transform: uppercase;
  }

  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.25em;

      box-sizing: border-box;
      width: 8px;
      height: 8px;

      border: 2px solid #ffffff;
      border-radius: 50%;
    }
  }
}

.sponsors__wrapper {
  @include container;

  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-top: 50px;

  @media (max-width: $width-desktop-l) {
    padding-top: 35px;
  }

  @media (max-width: $width-tablet-l) {
    padding-left: 140px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 120px;
  }

  @media (max-width: 600px) {
    padding-left: 60px;
  }

  @media (max-width: 550px) {
    padding-left: 15px;
  }
}

.sponsors__title {
  margin-bottom: 30px;
  max-width: 860px;
  max-height: 60px;

  font-size: 25px;
  line-height: 1.15;

  @media (max-height: 767px) {
    font-size: 3vh;
  }

  @media (max-width: $width-tablet-m) {
    max-height: none;
    font-size: 20px;
    line-height: 1.3;
  }

  &::before {
    top: 0.5em;
    transform: translate(calc(-100% - 40px));

    @media (max-width: $width-tablet-m) {
      transform: translate(calc(-100% - 20px));
    }
  }
}

.sponsors__image {
  overflow: hidden;
  max-height: 100%;
  box-shadow: 0 0 84px rgba(0, 0, 0, 0.52);

  @media (max-width: $width-tablet-m) {
    margin-bottom: 30px;
  }
}

.sponsors__card {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (max-width: $width-tablet-l) {
    padding-right: 15px;
  }

  @media (max-width: 550px) {
    height: auto;
  }

  &--padded {
    padding-top: 50px;

    @media (max-width: $width-desktop-l) {
      padding-top: 30px;
    }
  }

  &--filled {
    .sponsors__feature {
      margin-top: auto;
    }
  }

  img {
    margin-bottom: 20px;

    @media (max-width: $width-desktop-l) {
      max-width: 75%;
    }

    @media (max-width: $width-tablet-l) {
      max-width: 100%;
    }
  }
}

.sponsors__feature {
  position: relative;
  box-sizing: content-box;
  padding-top: 20px;
  padding-bottom: 50px;

  @media (max-width: $width-desktop-l) {
    padding-bottom: 30px;
  }

  @media (max-width: $width-tablet-l) {
    padding-right: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 55px;
    height: 3px;

    background-color: #ffffff;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sponsors__stripe {
  z-index: 0;

  @media (max-width: 600px) {
    display: none;
  }

  &:last-child {
    position: absolute;
    top: 45%;
    bottom: 15%;
    left: 0;
    z-index: 10;
    width: 160px;
    background-color: #f98700;

    @media (max-width: $width-desktop-l) {
      bottom: 30%;
    }

    @media (max-width: $width-tablet-l) {
      width: 120px;
    }

    @media (max-width: $width-tablet-m) {
      width: 100px;
    }

    &::after {
      content: "scroll";
      position: absolute;
      left: 62px;
      bottom: 20px;
      transform: rotate(90deg);

      @media (max-width: $width-tablet-l) {
        left: 45px;
      }

      @media (max-width: $width-tablet-m) {
        left: 35px;
      }
    }
  }
}

.sponsors__row {
  max-height: 35vh;

  @media (max-width: $width-desktop-s) {
    max-height: none;
  }
}

.sponsors__desc {
  @media (max-width: $width-tablet-l) {
    padding-right: 15px;
  }
}
