.stock {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  background-image: url("../img/pan-3.jpg");
  background-repeat: no-repeat;
  background-position-y: 100px;
  background-size: 100%;

  @media (max-width: $width-tablet-m) {
    background-position-y: 90px;
  }

  @media (max-width: $width-tablet-s) {
    background-size: 480px;
  }
}

.stock__wrapper {
  @include container;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 200px;

  @media (max-width: $width-desktop-l) {
    padding-top: 35px;
  }

  @media (max-width: $width-desktop-m) {
    font-size: 30px;
  }

  @media (max-width: $width-tablet-l) {
    padding-left: 160px;
  }

  @media (max-width: $width-tablet-m) {
    padding-left: 140px;
    padding-top: 30px;
  }

  @media (max-width: 600px) {
    padding-left: 60px;
  }

  @media (max-width: 550px) {
    padding-top: 25px;
    padding-left: 15px;
  }
}

.stock__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: auto;

  @media (max-width: $width-desktop-m) {
    margin-bottom: 30%;
  }

  @media (max-height: 767px) {
    margin-bottom: 25vh;
  }

  @media (max-width: $width-tablet-m) {
    margin-bottom: 29%;
  }

  @media (max-width: $width-tablet-s) {
    margin-bottom: 130px;
  }
}

.stock__note {
  max-width: 50%;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;

  @media (max-width: $width-tablet-s) {
    font-size: 10px;
  }
}

.stock__list {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  counter-reset: list;

  @media (max-width: 650px) {
    display: block;
    margin-bottom: 0;
  }

  li {
    position: relative;
    z-index: 1;
    max-width: 340px;

    @media (max-width: $width-desktop-m) {
      padding: 0 15px;
    }

    @media (max-width: $width-tablet-l) {
      width: calc(100% / 3);
    }

    @media (max-width: 650px) {
      margin-bottom: 30px;
      width: auto;
      max-width: none;
      padding: 0;
    }

    &:first-child {
      @media (max-width: $width-desktop-m) {
        padding-left: 0;
      }
    }

    &:last-child {
      @media (max-width: $width-desktop-m) {
        padding-right: 0;
      }
    }

    &::after {
      counter-increment: list;
      content: "0"counter(list);
      position: absolute;
      top: -50px;
      left: 0;
      z-index: -1;

      font-weight: 700;
      font-size: 248px;
      line-height: 1;
      color: darken($color-second, 3%);

      @media (max-width: $width-desktop-m) {
        font-size: 200px;
      }

      @media (max-height: 767px) {
        opacity: 0.9;
      }

      @media (max-width: $width-tablet-l) {
        font-size: 180px;
      }

      @media (max-width: $width-tablet-m) {
        top: -35px;
        font-size: 140px;
      }
    }
  }

  h3 {
    margin-bottom: 40px;
    max-height: 40px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    text-transform: uppercase;

    @media (max-width: 650px) {
      margin-bottom: 20px;
    }

    @media (max-width: $width-tablet-s) {
      font-size: 14px;
    }

    &::after {
      content: "";

      display: block;
      margin-top: 20px;
      width: 55px;
      height: 3px;

      background-color: #ffffff;

      @media (max-width: 650px) {
        margin-top: 5px;
      }
    }
  }

  p {
    max-height: 190px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.3;

    @media (max-height: 767px) {
      max-height: 170px;
    }
  }
}
