.stripe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;

  @media (max-width: 600px) {
    display: none;
  }

  &--second {
    z-index: 0;

    .stripe__wrapper {
      &::before {
        background-color: $color-second;
      }
    }
  }

  &--partial {
    top: 59%;
    z-index: 1;

    .stripe__arrow {
      bottom: 60px;
    }

    .stripe__wrapper {
      &::after {
        content: "scroll";
        position: absolute;
        top: 65%;
        left: 62px;
        transform: rotate(90deg);

        @media (max-width: $width-desktop-m) {
          display: none;
        }
      }
    }
  }

  &--scroll {
    .stripe__scroll {
      left: 62px;
      color: #ffffff;
    }

    .stripe__arrow {
      bottom: 60px;
    }
  }

  &--no-scroll {
    .stripe__wrapper {
      &::after {
        content: none;
      }
    }
  }
}

.stripe__wrapper {
  @include container;

  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  z-index: -2;
  transform: translate(-50%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 160px;
    background-color: $color-prime;

    @media (max-width: $width-tablet-l) {
      width: 120px;
    }

    @media (max-width: $width-tablet-m) {
      width: 100px;
    }
  }
}

.stripe__arrow {
  position: absolute;
  left: 80px;
  bottom: 120px;
  z-index: 1;

  width: 22px;
  height: 9px;

  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    // left: 73px;
    bottom: 50px;
  }

  @media (max-width: $width-tablet-l) {
    left: 62px;
  }

  @media (max-width: $width-tablet-m) {
    left: 53px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    left: 0;
    transform-origin: left bottom;
    transform: rotate(30deg);
  }

  &::after {
    right: 0;
    transform-origin: right bottom;
    transform: rotate(-30deg);
  }
}

.stripe__scroll {
  position: absolute;
  left: 65px;
  bottom: 120px;
  z-index: 1;
  transform: rotate(90deg);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}
