.unique {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/pan-15.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: -350px 0;

  @media (max-width: $width-desktop-m) {
    background-position: 0;
  }

  h1 {
    margin: 70px 0;
    margin-bottom: 100px;
    padding: 30px 0;

    font-size: 50px;
    line-height: 1;
    color: #ffffff;

    @media (max-height: 767px) {
      margin-bottom: 70px;
    }

    &::before {
      content: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;

      width: 160px;
      height: 5px;
      background-color: #ffffff;
    }
  }

  p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.3;
  }

  &--polygons {
    background-image:
      url("../../img/pan-16.png"),
      url("../../img/bg-ditch.jpg");
    background-size:
      100% 100%,
      cover;
    background-position:
      -350px 0,
      center;

    .unique__content {
      max-width: 880px;
    }

    .unique__wrapper {
      &::after {
        color: #ffffff;
      }
    }

    h1 {
      margin-bottom: 60px;
      max-width: 800px;
      font-size: 41px;
    }
  }
}

.unique__wrapper {
  @include container;
  @include scroll;

  position: relative;
  flex-grow: 1;

  &::after {
    color: #000000;
  }
}

.unique__content {
  padding-left: 200px;
  color: #ffffff;

  ul {
    @include list-reset;

    margin-bottom: 25px;
    font-size: 10px;
    line-height: 1.3;
    text-transform: uppercase;

    li {
      position: relative;
      margin-bottom: 5px;
      padding-left: 15px;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0.25em;

        width: 8px;
        height: 8px;

        border: 2px solid #ffffff;
        border-radius: 50%;
      }
    }
  }
}

.unique__scroll {
  position: absolute;
  left: 50%;
  bottom: 60px;
  color: #ffffff;
  transform: translate(-50%);

  @media (max-width: $width-desktop-m) {
    display: none;
  }
}

.unique__stripe {
  top: 40%;
  z-index: 0;

  @media (max-height: 767px) {
    top: 50%;
  }
}

.unique__note {
  position: relative;

  margin-top: 50px;
  padding-top: 15px;
  max-width: 350px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.3;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 3px;

    background-color: #ffffff;
  }
}
