.values {
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
}

.values__title {
  padding-left: 17px;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 700;
}

.values__list {
  @include list-reset;

  padding-left: 17px;
  font-weight: 400px;

  li {
    position: relative;
    margin-bottom: 5px;

    &::before {
      content: "";
      position: absolute;
      left: -17px;
      top: 50%;

      box-sizing: border-box;
      width: 7px;
      height: 7px;

      border: 2px solid $color-prime;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
